@import "../../scss/_custom.scss";
@import "~bootstrap/scss/bootstrap";

body.tetris .container.content {
  display: none;
}

canvas {
  margin: 0 auto;
  display: block;
}

#tetris-gameover {
  display: none;
}

#tetris-gameover.tetris-visible {
  display:block;
  text-align:center;
  //background-color: lightpink;
}

#tetris-highscore-table.tetris-visible {
  display:block;
}

#tetris-table-heading {
  background-color: #FFDCE1;

}

.tetris-table-odd-entries{
  background-color: #FFEBED;
}

#tetris-heading {
  text-align: center;
  margin-bottom: 0;
  color: white;
  padding: 10px 10px 10px 10px;
  display: none;
  background-color: theme-color('primary');
}

#tetris-heading.tetris-visible {
  display: block;
}

#tetris-exit {
  display:none;
  text-align: right;
}

#tetris-exit.tetris-visible {
  display:block;
}

#exit-button {
  background-color: $pink;
  color: white;
  margin-right: 20px;
  margin-top:5px;
  border-color: $pink;
}

