@import "../../scss/_custom.scss";
@import "~bootstrap/scss/bootstrap";

body.tetris > my-app > div:not(#tetris) {
  filter: blur(4px);
  transition: 1s -webkit-filter linear;

}
body.tetris {
  overflow:hidden
}

body.gameOver {
  overflow: auto !important;
}

canvas {
  margin: 0 auto;
  display: block;
  margin-top:25px;
  overflow: auto !important;
}

#tetris.tetris-visible {
  display:block;
}

#tetris {
  display:none;
  position:absolute;
  background-color: rgba(0,0,0,0);
  top:0;
}

#btn-close-tetris{
  background-color:$pink;
  border-color: $pink;
  margin: 5px 5px 5px 5px;
  color: white;
  position: absolute;
  right: 0;
}

#tetris-gameover {
  display: none;
}


#tetris-game-over-lbl {
  color: $pink;
  alignment: center;
}

#tetris-gameover.tetris-visible {
  display:block;
  text-align:center;
}

#tetris-highscore-table.tetris-visible {
  display:block;
}

#tetris-highscore-table {
  background-color: white;
  border-color: #303030;
  width: 40%;
}

#tetris-highscore-table td {
  width: 30%;
}

#tetris-highscore-table th {
  background-color: pink;
}

.tetris-game-over-table-new-entry {
  color: $pink;
  font-weight: bold;
}

#tetris-game-over-entry {
  display:none;
}
#tetris-game-over-entry.tetris-visible {
  display:block;
  color:white;
}

#lbl-tetris-guest-entry {
  margin: 10px;
}