@import "../../scss/_custom.scss";
@import "~bootstrap/scss/bootstrap";

body.tetris > my-app > div:not(#tetris) {
  filter: blur(4px);
  transition: 1s -webkit-filter linear;
}

html.tetris {
  height: 100%;
}

body.tetris{
  height: 100%
}

body.gameOver {
  overflow: auto !important;
}

canvas {
  margin: 0 auto;
  display: block;
  margin-top:25px;
  overflow: auto !important;
}

#tetris.tetris-visible {
  display:block;
  width: 100%;
  overflow: hidden;
}

#tetris {
  display:none;
  position:absolute;
  background-color: rgba(0,0,0,0);
  top:0;
}

#btn-close-tetris{
  background-color: #343a40;
  border-color: white;
  margin: 5px 5px 5px 5px;
  color: white;
  position: absolute;
  right: 0;
}

#tetris-gameover {
  display: none;
}

#tetris-gameover.tetris-visible {
  display:block;
  text-align:center;
  overflow: auto !important;
}

#tetris-highscore-table.tetris-visible {
  display:block;
}

#tetris-highscore-table {
  background-color: white;
  opacity: 0.95;
  width: 55%;
  margin: auto;
}

#tetris-heading {
  width: 100%;
  display:none;
  text-align:center;
  margin: 10px;
}

#tetris-game-over-heading{
  margin: 10px;
}

#tetris-highscore-table td {
  width: 30%;
}

.tetris-game-over-table-new-entry {
  color: $blue;
  font-weight: bold;
}

#tetris-game-over-entry {
  display:none;
}

#tetris-game-over-entry.tetris-visible {
  display:block;
  color:white;
}

#tetris-heading.tetris-visible {
  display:block;
}

#lbl-tetris-guest-entry {
  margin: 10px;
}

#tetris-game-over-entry form {
  background-color: rgba(255, 255, 255, 0.95);
  width: 55%;
  margin: 0 auto;
  margin-bottom: 10px;
  color: black !important;
  border-left: 6px solid $blue;
}