<h1 class="float-left">Games</h1>

<div class="float-right text-nowrap" *ngIf="pageOfGames">
    <div class="input-group">
        <select class="custom-select" [(ngModel)]="pageOfGames.sortBy" [disabled]="loading"
                (change)="sort($event.target.value, pageOfGames.sortAscending)">
            <option *ngFor="let sortable of pageOfGames.sortables" [value]="sortable.value">
                {{sortable.label}}
            </option>
        </select>
        <div class="input-group-append">
            <button class="btn btn-light" type="button" (click)="sort(pageOfGames.sortBy, !pageOfGames.sortAscending)"
                    [disabled]="loading">
                <i class="fa" [ngClass]="pageOfGames.sortAscending ? 'fa-arrow-up' : 'fa-arrow-down'"></i>
            </button>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<img *ngIf="loading" src="../../img/loading.gif"/>

<div class="row mt-2 clear" *ngIf="pageOfGames && !loading">
    <div class="col-12">
        <div class="card bg-secondary text-white border-0 mb-1">
            <div class="card-body" *ngFor="let game of pageOfGames.content"
                 style="border-bottom: 1px solid white !important;">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <a [routerLink]="['/game', game.id]">
                            <h5 class="mb-0 d-md-none">
                                {{game.homeUser.username}}
                                {{game.scoreHome}}–{{game.scoreAway}}
                                {{game.awayUser.username}}
                            </h5>
                            <h4 class="mb-0 d-none d-md-block d-lg-none">
                                {{game.homeUser.username}}
                                {{game.scoreHome}}–{{game.scoreAway}}
                                {{game.awayUser.username}}
                            </h4>
                            <h2 class="mb-0 d-none d-lg-block">
                                {{game.homeUser.username}}
                                {{game.scoreHome}}–{{game.scoreAway}}
                                {{game.awayUser.username}}
                            </h2>
                        </a>
                        <div class="lead all-petite-caps">
                            <span class="font-weight-normal">
                                <ng-container *ngIf="game.playoff">
                                    {game.playoff.round, plural,
                                    =1 {Last Sixteen}
                                    =2 {Quarterfinal}
                                    =3 {Semifinal}
                                    =4 {Little Final}
                                    =5 {Final}
                                    other {Playoffs}
                                    }
                                </ng-container>
                                <ng-container *ngIf="game.group">
                                    Group {{game.group.label}}
                                </ng-container>
                            </span>
                            {{game.tournament.created | date:'y'}}
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="all-petite-caps">
                            {{filterRatings(game.ratings, "LIKE").length}} Likes
                            •
                            {{filterRatings(game.ratings, "DISLIKE").length}} Dislikes
                        </div>
                        <div class="all-petite-caps">
                            {{filterRatings(game.ratings, "LIGHTSIDE").length}} Lightside
                            •
                            {{filterRatings(game.ratings, "DARKSIDE").length}} Darkside
                        </div>
                        <div class="all-petite-caps">
                            {{game.comments.length}} Comments
                            <ng-container *ngIf="game.replayExists">•</ng-container>
                            <a [href]="appConfig.apiEndpoint + 'game/' + game.id + '/replay'" *ngIf="game.replayExists">Download</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <cwt-paginator [page]="pageOfGames" (goTo)="goTo($event)"></cwt-paginator>
    </div>
</div>
