<div *ngIf="!gameWasPlayed" class="alert alert-info">
    This game hasn’t been played yet.
</div>

<div *ngIf="game && gameWasPlayed">
    <span class="float-right text-right">
        Reported by
        <cwt-user [username]="game.reporter.username"></cwt-user><br>
        <cwt-time-ago [date]="game.reportedAt"></cwt-time-ago>
    </span>

    <h1>
        <cwt-user [username]="game.homeUser.username"></cwt-user>
        {{game.scoreHome}}–{{game.scoreAway}}
        <cwt-user [username]="game.awayUser.username"></cwt-user>
    </h1>
    <p class="lead all-petite-caps">
        <a [routerLink]="game.tournament.status === 'FINISHED' ? ['/archive', (game.tournament.created | cwtDate:'y')] : ['/playoffs']"
           [fragment]="game.tournament.status === 'FINISHED' ? 'playoffs': undefined"
           *ngIf="game.playoff" i18n>
                <span class="font-weight-bold">
                    {{game.playoffRoundLocalized}}
                </span>
            {{game.tournament.created | cwtDate:'y'}}
        </a>
        <a [routerLink]="game.tournament.status === 'FINISHED' ? ['/archive', (game.tournament.created | cwtDate:'y')] : ['/groups']"
           [fragment]="game.tournament.status === 'FINISHED' ? game.group.label : undefined"
           *ngIf="game.group">
                <span class="font-weight-bold">
                    Group {{game.group.label}}
                </span>
            {{game.tournament.created | cwtDate:'y'}}
        </a>
    </p>

    <div class="mt-3" *ngIf="game.voided || game.tournament.status === 'FINISHED' || (hasOlderVersion && waVersionWarn)">
        <div class="alert alert-warning mt-1" role="alert"
             *ngIf="game.voided">
            <i class="fa fa-warning"></i>
            This game has been voided.
        </div>
        <div class="alert alert-warning mt-1" role="alert"
             *ngIf="game.tournament.status === 'FINISHED'">
            <i class="fa fa-warning"></i>
            This game is from a past tournament.
        </div>
        <div class="alert alert-danger mt-1" role="alert"
             *ngIf="hasOlderVersion">
            <i class="fa fa-exclamation-triangle"></i>
            The game was played with an older version.
            <a target="_blank"
               href="https://worms2d.info/files/WA_update-3.8_%5BCD%5D_Installer.exe">
                Download WA 3.8 <i class="fa fa-external-link"></i>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col d-flex flex-wrap justify-content-around align-items-center mt-children">
            <div class="rate">
                <div class="quantity">{{ratings.LIKE.length}}</div>
                <div class="circles">
                    <button class="btn btn-lg rounded-circle text-center text-real-white bg-success rating"
                            [class.pressed]="authenticatedUserRatings.indexOf('LIKE') !== -1"
                            [class.pressing]="submittingRating === 'LIKE'"
                            [class.more]="ratings.DISLIKE.length < ratings.LIKE.length"
                            ngbTooltip="Like" container="body"
                            (click)="rate('LIKE')"
                            [disabled]="submittingRating === 'DISLIKE' || submittingRating === 'LIKE'">
                        <i class="fa fa-thumbs-up"></i>
                    </button>
                    <button class="btn btn-lg rounded-circle text-center text-real-white bg-danger rating"
                            [class.pressed]="authenticatedUserRatings.indexOf('DISLIKE') !== -1"
                            [class.pressing]="submittingRating === 'DISLIKE'"
                            [class.more]="ratings.DISLIKE.length > ratings.LIKE.length"
                            ngbTooltip="Dislike" container="body"
                            (click)="rate('DISLIKE')"
                            [disabled]="submittingRating === 'DISLIKE' || submittingRating === 'LIKE'">
                        <i class="fa fa-thumbs-down"></i>
                    </button>
                </div>
                <div class="quantity">{{ratings.DISLIKE.length}}</div>
            </div>
            <div class="rate">
                <div class="quantity">{{ratings.DARKSIDE.length}}</div>
                <div class="circles">
                    <button class="btn btn-lg rounded-circle text-center text-real-white bg-danger rating"
                            [class.pressed]="authenticatedUserRatings.indexOf('DARKSIDE') !== -1"
                            [class.pressing]="submittingRating === 'DARKSIDE'"
                            [class.more]="ratings.DARKSIDE.length > ratings.LIGHTSIDE.length"
                            ngbTooltip="Darkside" container="body"
                            (click)="rate('DARKSIDE')"
                            [disabled]="submittingRating === 'DARKSIDE' || submittingRating === 'LIGHTSIDE'">
                        <i class="fa fa-stopwatch"></i>
                    </button>
                    <button class="btn btn-lg rounded-circle text-center text-real-white bg-success rating"
                            [class.pressed]="authenticatedUserRatings.indexOf('LIGHTSIDE') !== -1"
                            [class.pressing]="submittingRating === 'LIGHTSIDE'"
                            [class.more]="ratings.DARKSIDE.length < ratings.LIGHTSIDE.length"
                            ngbTooltip="Lightside" container="body"
                            (click)="rate('LIGHTSIDE')"
                            [disabled]="submittingRating === 'DARKSIDE' || submittingRating === 'LIGHTSIDE'">
                        <i class="fa fa-bolt"></i>
                    </button>
                </div>
                <div class="quantity">{{ratings.LIKE.length}}</div>
            </div>
            <div class="rate" *ngIf="betResult">
                <div class="quantity">{{betResult.homeUser.length}}</div>
                <div class="circles">
                    <div class="btn btn-lg rounded-circle text-center text-real-white cursor-default bet-result"
                         [class.pressed]="betResult.userBetOnHome"
                         [ngbTooltip]="'Voted for ' + game.homeUser.username" container="body">
                        {{homeUserAbbr}}
                    </div>
                    <div class="btn btn-lg rounded-circle text-center text-real-white cursor-default bet-result"
                         [class.pressed]="betResult.userBetOnAway"
                         [class.more]="betResult.homeUser.length < betResult.awayUser.length"
                         [ngbTooltip]="'Voted for ' + game.awayUser.username" container="body">
                        {{awayUserAbbr}}
                    </div>
                </div>
                <div class="quantity">{{betResult.awayUser.length}}</div>
            </div>
            <div class="text-nowrap d-flex">
                <div class="mr-2">
                    <a class="btn btn-lg rounded-circle btn-primary text-white"
                       ngbTooltip="Replay"
                       *ngIf="!game.techWin" [href]="game.id | cwtReplayLink">
                        <i class="fa fa-radiation"></i>
                    </a>
                    <span class="btn btn-lg disabled cursor-default rounded-circle btn-primary text-white" *ngIf="game.techWin"
                          ngbTooltip="Tech. Win">
                        <i class="fa fa-gavel"></i>
                    </span>
                </div>
                <div>
                    <button class="btn btn-lg btn-primary text-white rounded-circle"
                            ngbTooltip="Ratings and Votes"
                            [ngClass]="{'active': showRatings}" (click)="showRatings = !showRatings">
                        <i class="fa fa-star"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4" [hidden]="!showRatings">
        <div class="col-12 col-md-7 offset-md-5">
            <div class="card bg-secondary">
                <div class="card-body ratings">
                    <div *ngIf="!game.ratings.length">
                        There are no ratings yet.
                    </div>
                    <ng-container *ngIf="game.ratings.length">
                        <div *ngIf="ratings.LIKE.length" class="mb-1">
                            <i class="fa fa-thumbs-up"></i>&nbsp;
                            <span *ngFor="let rating of ratings.LIKE; let last = last">
                                <cwt-user [username]="rating.user.username"></cwt-user><span *ngIf="!last">, </span>
                            </span>
                        </div>
                        <div *ngIf="ratings.DISLIKE.length" class="mb-1">
                            <i class="fa fa-thumbs-down"></i>&nbsp;
                            <span *ngFor="let rating of ratings.DISLIKE; let last = last">
                                <cwt-user [username]="rating.user.username"></cwt-user><span *ngIf="!last">, </span>
                            </span>
                        </div>
                        <div *ngIf="ratings.DARKSIDE.length" class="mb-1">
                            <i class="fa fa-stopwatch"></i>&nbsp;
                            <span *ngFor="let rating of ratings.DARKSIDE; let last = last">
                                <cwt-user [username]="rating.user.username"></cwt-user><span *ngIf="!last">, </span>
                            </span>
                        </div>
                        <div *ngIf="ratings.LIGHTSIDE.length" class="mb-1">
                            <i class="fa fa-bolt"></i>&nbsp;
                            <span *ngFor="let rating of ratings.LIGHTSIDE; let last = last">
                                <cwt-user [username]="rating.user.username"></cwt-user><span *ngIf="!last">, </span>
                            </span>
                        </div>
                        <ng-container *ngIf="betResult">
                            <div class="mb-1 mt-3">
                                <span class="vote">{{homeUserAbbr}}</span>
                                <span *ngFor="let user of betResult.homeUser; let last = last"><cwt-user [username]="user.user.username"></cwt-user><span *ngIf="!last">, </span></span>
                                <span *ngIf="!betResult.homeUser.length">No bets were placed.</span>
                            </div>
                            <div>
                                <span class="vote">{{awayUserAbbr}}</span>
                                <span *ngFor="let user of betResult.awayUser; let last = last"><cwt-user [username]="user.user.username"></cwt-user><span *ngIf="!last">, </span></span>
                                <span *ngIf="!betResult.awayUser.length">No bets were placed.</span>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 col-md-6 col-lg-5 col-xl-4 text-center">
            <img *ngIf="loadingStats" src="../../img/loading.gif"/>
            <div *ngIf="!stats.length && statsAreBeingProcessed && !loadingStats"
                 class="alert alert-info text-left">
                The replay files are currently being processed to show further statistics.<br>
                They will appear here automatically as they’re available.
            </div>
            <ng-container *ngIf="stats.length">
                <button class="btn btn-sm rounded-circle text-center text-white mb-2 mr-2 p-0"
                        [ngClass]="statsForRound === index + 1 ? 'bg-secondary' : 'bg-primary'"
                        [style.height]="'2.5rem'" [style.width]="'2.5rem'" [style.fontSize]="'1.5rem'"
                        *ngFor="let s of stats; let index = index" [ngbTooltip]="'Round ' + (index + 1)" placement="top"
                        (click)="statsForRound = index + 1">
                    {{index + 1}}
                </button>
                <ng-container *ngFor="let statsInstance of stats; let statsIdx = index">
                    <cwt-game-stats *ngIf="statsIdx === statsForRound - 1" [stats]="stats[statsIdx]"></cwt-game-stats>
                </ng-container>
            </ng-container>
        </div>
        <div [ngClass]="stats.length || statsAreBeingProcessed ? 'col-12 col-md-6 col-lg-7 col-xl-8 mt-4 mt-md-0' : 'col-12'">
            <div class="row mb-2 text-nowrap">
                <div class="col text-left" *ngIf="streams?.length">
                    <cwt-watch-on-twitch [streams]="streams"></cwt-watch-on-twitch>
                </div>
                <div class="col text-right" *ngIf="stats.length">
                    <div [(ngModel)]="rightColumnViewToggle" class="btn-group btn-group-toggle" name="viewMode"
                         ngbRadioGroup>
                        <label class="btn-primary" ngbButtonLabel>
                            <input [value]="'COMMENTS'" ngbButton type="radio">
                            <i class="d-lg-none fa fa-comment"></i>
                            <span class="d-none d-lg-inline">Comments</span>
                        </label>
                        <label class="btn-primary" ngbButtonLabel>
                            <input [value]="'IN_GAME_CHAT'" ngbButton type="radio">
                            In-game chat
                        </label>
                        <label class="btn-primary" ngbButtonLabel>
                            <input [value]="'MAPS'" ngbButton type="radio">
                            Maps
                        </label>
                    </div>
                </div>
            </div>
            <div *ngIf="rightColumnViewToggle === 'COMMENTS'" class="row">
                <div class="col-12 mb-2" *ngIf="authenticatedUser">
                    <div class="card bg-secondary p-1">
                        <form #commentForm="ngForm" (ngSubmit)="submitComment()">
                            <textarea (keyup.control.enter)="commentForm.onSubmit($event)" [(ngModel)]="newComment.body"
                                      class="form-control" name="comment"
                                      placeholder="Write a comment…" required
                                      rows="3">
                            </textarea>
                            <div class="float-right">
                                <button class="btn btn-primary mt-1" style="width: 80px"
                                        [disabled]="!commentForm.form.valid || submittingComment">
                                    <img src="../../img/loading.gif" class="loading" *ngIf="submittingComment"/>
                                    <ng-container *ngIf="!submittingComment">Submit</ng-container>
                                </button>
                            </div>
                        </form>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card bg-secondary text-white border-0">
                        <div class="card-body" *ngFor="let comment of game.comments"
                             style="border-bottom: 1px solid black !important;">
                            <cwt-time-ago [date]="comment.created"
                                          class="float-none float-sm-right float-md-none float-lg-right"></cwt-time-ago>
                            <h4 class="card-title">
                                <cwt-user [username]="comment.author.username"></cwt-user>
                            </h4>
                            <p class="card-text rendered-text links-red"
                               [innerHTML]="comment.body | cwtConvertLinks"></p>
                        </div>
                    </div>
                    <div class="alert alert-info" role="alert" *ngIf="!game.comments.length">
                        There are no comments yet.
                    </div>
                </div>
            </div>
            <div *ngIf="rightColumnViewToggle === 'IN_GAME_CHAT'" class="row">
                <div class="col-12">
                    <div class="card bg-secondary text-white border-0">
                        <div *ngFor="let stat of stats; let index = index"
                             class="card-body"
                             style="border-bottom: 1px solid black !important;">
                            <h4 class="card-title">Round {{index + 1}}</h4>
                            <p *ngFor="let message of stat.messages" class="inGameChat">
                                [{{message.user}}] {{message.body}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="rightColumnViewToggle === 'MAPS'" class="row">
                <div class="col-12">
                    <div class="card bg-secondary text-white border-0">
                        <div *ngFor="let stat of stats; let index = index"
                             class="card-body"
                             style="border-bottom: 1px solid black !important;">
                            <h4 class="card-title">Round {{index + 1}}</h4>

                            <cwt-map [map]="stat.map" [texture]="stat.texture" [gameId]="game.id"></cwt-map>
                </div>
            </div>
        </div>
    </div>
</div>
