<div *ngIf="game">
    <span class="float-right text-right">
        Reported by
        <a [routerLink]="['/user', game.reporter.username]">{{game.reporter.username}}</a><br>
        <cwt-time-ago [date]="game.created"></cwt-time-ago>
    </span>

    <h1>
        <a [routerLink]="['/user', game.homeUser.username]">{{game.homeUser.username}}</a>
        {{game.scoreHome}}–{{game.scoreAway}}
        <a [routerLink]="['/user', game.awayUser.username]">{{game.awayUser.username}}</a>
    </h1>

    <div class="row mb-1 mt-4">
        <div class="col-lg-3 col-sm-6 order-lg-1 text-center text-lg-left order-sm-2">
            <div class="btn btn-secondary btn-lg" style="width: 205px;">
                Last Sixteen <!-- TODO label and link to group/playoff tree -->
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 text-lg-right order-lg-4 text-center mt-2 mt-sm-0 order-sm-4 mt-sm-2 mt-lg-0">
            <a class="btn btn-secondary btn-lg text-white" style="width: 205px;">
                <i class="fa fa-download"></i>
                Replay <!-- TODO -->
            </a>
        </div>
        <div class="col-lg-3 col-sm-6 text-lg-center order-lg-2 mt-2 pt-lg-0 text-center mt-sm-0 order-sm-1">
            <button class="btn btn-lg btn-success text-white" style="width: 100px;" (click)="rate('LIKE')" ngbTooltip="Like"
                    [ngClass]="{'btn-outline-success text-dark': authenticatedUserRatings.indexOf('DISLIKE') !== -1}"
                    [ngClass]="{'font-weight-bold': authenticatedUserRatings.indexOf('LIKE') !== -1}"
                    [disabled]="['LIKE', 'DISLIKE'].indexOf(submittingRating) !== -1 || !authenticatedUser || authenticatedUserRatings.indexOf('LIKE') !== -1 || authenticatedUserRatings.indexOf('DISLIKE') !== -1">
                <i class="fa fa-thumbs-o-up"></i>
                <span *ngIf="submittingRating !== 'LIKE'">{{likes.length}}</span>
                <img src="../../img/loading.gif" class="loading" *ngIf="submittingRating === 'LIKE'"/>
            </button>
            <button class="btn btn-lg btn-danger text-white order-sm-4" style="width: 100px;" (click)="rate('DISLIKE')" ngbTooltip="Dislike"
                    [ngClass]="{'btn-outline-danger text-dark': authenticatedUserRatings.indexOf('LIKE') !== -1}"
                    [ngClass]="{'font-weight-bold': authenticatedUserRatings.indexOf('DISLIKE') !== -1}"
                    [disabled]="['LIKE', 'DISLIKE'].indexOf(submittingRating) !== -1 || !authenticatedUser || authenticatedUserRatings.indexOf('DISLIKE') !== -1 || authenticatedUserRatings.indexOf('LIKE') !== -1">
                <i class="fa fa-thumbs-o-down"></i>
                <span *ngIf="submittingRating !== 'DISLIKE'">{{dislikes.length}}</span>
                <img src="../../img/loading.gif" class="loading" *ngIf="submittingRating === 'DISLIKE'"/>
            </button>
        </div>
        <div class="col-lg-3 col-sm-6 text-lg-center order-lg-3 mt-2 pt-lg-0 text-center mt-sm-2 order-sm-3 mt-lg-0">
            <button class="btn btn-lg bg-primary-1 text-white" style="width: 100px;" href="" (click)="rate('LIGHTSIDE')" ngbTooltip="Aggressive game"
                    [ngClass]="{'btn-outline-primary text-dark': authenticatedUserRatings.indexOf('DARKSIDE') !== -1}"
                    [ngClass]="{'font-weight-bold': authenticatedUserRatings.indexOf('LIGHTSIDE') !== -1}"
                    [disabled]="['LIGHTSIDE', 'DARKSIDE'].indexOf(submittingRating) !== -1 || !authenticatedUser || authenticatedUserRatings.indexOf('LIGHTSIDE') !== -1 || authenticatedUserRatings.indexOf('DARKSIDE') !== -1">
                <i class="fa fa-rocket"></i>
                <span *ngIf="submittingRating !== 'LIGHTSIDE'">{{lightsides.length}}</span>
                <img src="../../img/loading.gif" class="loading" *ngIf="submittingRating === 'LIGHTSIDE'"/>
            </button>
            <button class="btn btn-lg bg-primary-4 text-white" style="width: 100px;" (click)="rate('DARKSIDE')"
                    [ngClass]="{'btn-outline-primary text-dark': authenticatedUserRatings.indexOf('LIGHTSIDE') !== -1}" ngbTooltip="Thoughtful game"
                    [ngClass]="{'font-weight-bold': authenticatedUserRatings.indexOf('DARKSIDE') !== -1}"
                    [disabled]="['LIGHTSIDE', 'DARKSIDE'].indexOf(submittingRating) !== -1 || !authenticatedUser || authenticatedUserRatings.indexOf('DARKSIDE') !== -1 || authenticatedUserRatings.indexOf('LIGHTSIDE') !== -1">
                <i class="fa fa-lightbulb-o"></i>
                <span *ngIf="submittingRating !== 'DARKSIDE'">{{darksides.length}}</span>
                <img src="../../img/loading.gif" class="loading" *ngIf="submittingRating === 'DARKSIDE'"/>
            </button>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <div *ngIf="newComment">
                <form #commentForm="ngForm" (ngSubmit)="submitComment()">
                    <textarea rows="3" class="form-control" placeholder="Write a comment…" required
                              [(ngModel)]="newComment.body" name="comment">
                    </textarea>
                    <div class="float-right">
                        <img src="../../img/loading.gif" class="loading" *ngIf="submittingComment"/>
                        <button class="btn btn-primary mt-1" [disabled]="!commentForm.form.valid || submittingComment">
                            Submit Comment
                        </button>
                    </div>
                </form>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <div class="card bg-primary text-white border-0">
                <div class="card-body" *ngFor="let comment of game.comments" style="border-bottom: 1px solid white !important;">
                    <cwt-time-ago class="float-right" [date]="comment.created"></cwt-time-ago>
                    <h4 class="card-title">
                        <a [routerLink]="['/user', comment.author.username]" class="text-white">{{comment.author.username}}</a>
                    </h4>
                    <p class="card-text rendered-text">{{comment.body}}</p>
                </div>
            </div>
            <div class="alert alert-info" role="alert" *ngIf="!game.comments.length">
                There are no comments yet.
            </div>
        </div>
    </div>
</div>
