<div *ngIf="game">
    <span class="float-right">
        Reported by {{game.reporter.username}} on <br>
        <!--TODO {{game.created}}-->
        December 19, 2016 at 00:06
    </span>

    <h1>
        {{game.homeUser.username}}
        {{game.scoreHome}}–{{game.scoreAway}}
        {{game.awayUser.username}}
    </h1>
    <p class="lead">
        Group
        {{game.group.label}}
    </p>


    <div class="row mt-4">
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="../../img/icon.png" alt="Card image">
                <div class="card-body bg-light">
                    <h4 class="card-title">
                        <i class="fa fa-star"></i>
                        {{winningUser.username}}
                    </h4>
                </div>
            </div>

            <div class="mt-3">
                <cwt-rating [ratings]="game.ratings" typeA="LIKE" typeB="DISLIKE" [gameId]="game.id"></cwt-rating>
            </div>
            <div class="mt-3">
                <cwt-rating [ratings]="game.ratings" typeA="LIGHTSIDE" typeB="DARKSIDE" [gameId]="game.id"></cwt-rating>
            </div>
        </div>
        <div class="col-md-9">
            <form>
                <textarea rows="3" class="form-control" placeholder="Write a comment…"></textarea>
                <button class="btn btn-primary float-right mt-1">Submit Comment</button>
            </form>
            <div *ngFor="let comment of game.comments">
                {{comment}}
            </div>
            <div class="clearfix"></div>
            <div *ngIf="!game.comments.length" class="text-center text-muted mt-3">
                There are no comments yet.
            </div>
        </div>
    </div>


    <pre style="margin-top: 500px;">{{game | json}}</pre>

</div>
