<div class="rating-container">
    <div
            class="rounded-left" [ngStyle]="{'width': aPercent + '%', 'background-color': typeColorAssignment[typeA]}">
        {{numOfRatingsForA}}
    </div><div
            class="rounded-right text-right" [ngStyle]="{'width': bPercent + '%', 'background-color': typeColorAssignment[typeB]}">
        {{numOfRatingsForB}}
    </div>
</div>

<div class="btn-group btn-group-toggle btn-group-justified mt-1" ngbRadioGroup name="rating" [(ngModel)]="rating">
    <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" [value]="typeA" (change)="rate()">
        <i class="fa" [ngClass]="typeIconAssignment[typeA]"></i>
        <span class="text-capitalize">{{typeA.toLowerCase()}}</span>
    </label>
    <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" [value]="typeB" (change)="rate()">
        <i class="fa" [ngClass]="typeIconAssignment[typeB]"></i>
        <span class="text-capitalize">{{typeB.toLowerCase()}}</span>
    </label>
</div>
