<h1>Apply</h1>

<p class="lead mb-4">
    Apply for playing in the next edition of <span class="cwt-label"></span>.
</p>
<p>
    {{rules}}
</p>

<div class="row">
    <div class="col-10 offset-2">
        <form #applyForm="ngForm" (ngSubmit)="submit()">
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" required [(ngModel)]="agreeToRules" name="agreeToRules">
                    I have read and agree to the rules
                </label>
            </div>
            <button class="btn btn-primary" [disabled]="!applyForm.form.valid">Apply</button>
        </form>
    </div>
</div>
