<h1>Applicants</h1>

<div *ngIf="applications">
    <p class="lead mb-4">
        There currently
        {{applications.length === 1 ? 'is' : 'are'}}
        {{applications.length}}
        applicant{{applications.length === 1 ? '' : 's'}}
        for the upcoming edition of
        <span class="cwt-label"></span>.
    </p>

    <p>
        <span *ngFor="let application of applications; let last = last">
            <a [routerLink]="['/user', application.applicant.id]">{{application.applicant.username}}</a>{{last ? '' : ', '}}
        </span>
    </p>
</div>
