<table class="table table-sm group-games">
    <tbody>
    <tr *ngFor="let game of games;">
        <td class="text-right">
            <cwt-user [username]="game.homeUser.username"></cwt-user>
        </td>
        <td class="text-center text-nowrap">
            {{game.scoreHome}}–{{game.scoreAway}}
        </td>
        <td class="text-left">
            <cwt-user [username]="game.awayUser.username"></cwt-user>
        </td>
        <td class="text-right">
            <a [routerLink]="['/games', game.id]">
                <i class="fa fa-arrow-circle-down"></i>
            </a>
        </td>
        <td class="text-center">
            <a [routerLink]="['/games', game.id]">
                <i class="fa fa-info-circle"></i>
            </a>
        </td>
    </tr>
    </tbody>
</table>
