<table class="table table-sm table-bordered table-hover" *ngIf="group">
    <thead>
    <tr>
        <th class="text-center bg-dark">
            {{group.label}}
        </th>
        <th>
            Username
        </th>
        <th class="text-center">
            Points
        </th>
        <th class="text-center">
            Played
        </th>
        <th class="text-center d-none d-sm-table-cell">
            Games
        </th>
        <th class="text-center d-none d-sm-table-cell">
            Rounds
        </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let standing of group.standings | cwtStandingsOrder:group.games; let index = index;"
        #standingTr [attr.data-user]="standing.user.id"
        (mouseover)="mouseOverUser.emit({enter: true, user: standing.user.id})"
        (mouseleave)="mouseOverUser.emit({enter: false, user: standing.user.id})">
        <td class="text-center text-white"
            [ngClass]="index + 1 <= numberOfGroupMembersAdvancing ? 'bg-success' : 'bg-danger'"
            [style.borderBottomColor]="'rgba(0,0,0,0)'">
            <!-- {{index + 1}} -->
        </td>
        <td>
            <cwt-user [username]="standing.user.username"></cwt-user>
        </td>
        <td class="text-center">
            {{standing.points}}
        </td>
        <td class="text-center">
            {{standing.games}}
        </td>
        <td class="text-center d-none d-sm-table-cell">
            {{standing.gameRatio}}
        </td>
        <td class="text-center d-none d-sm-table-cell">
            {{standing.roundRatio}}
        </td>
    </tr>
    </tbody>
</table>
