<h1 class="mb-5">Archive</h1>

<div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3 mb-sm-4" *ngFor="let tournament of tournaments">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">
                    <a [routerLink]="['/archive', tournament.year]">
                        {{tournament.year}}
                    </a>
                </h2>
                <ul class="cwt-podest mt-4">
                    <li [ngStyle]="tournament.goldWinner == null ? {'visibility': 'hidden'} : {}">
                        <cwt-user [username]="tournament.goldWinner.username" *ngIf="tournament.goldWinner"></cwt-user>
                    </li>
                    <li [ngStyle]="tournament.silverWinner == null ? {'visibility': 'hidden'} : {}">
                        <cwt-user [username]="tournament.silverWinner.username" *ngIf="tournament.silverWinner"></cwt-user>
                    </li>
                    <li [ngStyle]="tournament.bronzeWinner == null ? {'visibility': 'hidden'} : {}">
                        <cwt-user [username]="tournament.bronzeWinner.username" *ngIf="tournament.bronzeWinner"></cwt-user>
                    </li>
                </ul>
                <small class="text-muted">
                    Organized by:
                    <br>
                    <span *ngFor="let mod of tournament.moderators; let last = last"><cwt-user [username]="mod.username"></cwt-user><span *ngIf="!last">, </span></span>
                </small>
            </div>
        </div>
    </div>
</div>
