<div *ngIf="tournaments">
    <h1 class="mb-4">Archive</h1>

    <div *ngFor="let tournament of tournaments" class="card mb-2">
        <img class="card-img-top" src="../../img/icon.png" height="148"> <!-- TODO Collages matching that CWT edition. -->
        <div class="card-body">
            <h4 class="card-title">
                <a [routerLink]="['/archive', tournament.created | date:'y']">
                    {{tournament.created | date:'y'}}
                    –
                    The Epic Headline <!-- TODO Create some kind of headline for that CWT edition. -->
                </a>
            </h4>
            <div class="row">
                <div class="col-md-8">
                    <p class="card-text">
                        <cwt-read-more *ngIf="tournament.review" length="70" [text]="tournament.review">
                        </cwt-read-more>
                    </p>
                </div>
                <div class="col-md-4">
                    <ul class="cwt-podest">
                        <li *ngIf="tournament.goldWinner">
                            <cwt-user [username]="tournament.goldWinner.username"></cwt-user>
                        </li>
                        <li *ngIf="tournament.silverWinner">
                            <cwt-user [username]="tournament.silverWinner.username"></cwt-user>
                        </li>
                        <li *ngIf="tournament.bronzeWinner">
                            <cwt-user [username]="tournament.bronzeWinner.username"></cwt-user>
                        </li>
                    </ul>

                    <small class="text-muted">
                        Organized by:<br>
                        <a href="">Zemke</a>,
                        <a href="">Kayz</a>,
                        <a href="">Joschi</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
