<img *ngIf="loading" src="../../img/loading.gif">

<div class="alert alert-danger" *ngIf="!authUser && !loading">
    Here you can register your Twitch channel when you are logged in.
</div>

<ng-container *ngIf="authUser && !loading">
    <div class="alert alert-danger" *ngIf="userAlreadyHasChannel">
        You already own a channel.
    </div>

    <div class="alert alert-success" *ngIf="channelCreated">
        Your channel has been successfully registered on CWT.
    </div>

    <div class="row justify-content-center" *ngIf="!userAlreadyHasChannel && !channelCreated">
        <div class="col-12 col-md-6">
            <h1>
                Twitch Channel
            </h1>
            <p class="lead">
                Register your Twitch channel
            </p>
            <div class="alert alert-info">
                <p>
                    Register your channel to benefit from CWT and Twitch interoperation:
                </p>
                <p>
                    When you go live a very visible banner will appear on the top
                    of the page advertising your live stream to the CWT visitors.
                </p>
                <p>
                    Your live stream broadcasts will be linked to the respective game on the CWT site.<br>
                    Allowing for easy finding of broadcasts and later watching in the context of CWT.
                </p>
                <p>
                    You can schedule live streams on games participants of the tournament have scheduled
                    and thereby attract people early on.
                </p>
                <p>
                    These features will only trigger when you include “CWT” in the title of your live stream.<br>
                    Therefore your Twitch channel will not publish information on CWT if you also perform other
                    duties with your Twitch channel other than streaming CWT games.
                </p>
                <p>
                    These features are all automated and work best when you include the players’ names as they
                    are on the CWT site in the title of your live stream.
                </p>
            </div>
            <form class="mt-4" #channelForm=ngForm (ngSubmit)="submit()">
                <div class="form-group">
                    <label for="twitchUsername">Twitch username</label>
                    <input type="text" id="twitchUsername" required class="form-control" [(ngModel)]="channel.twitchLoginName" name="twitchUsername">
                    <small class="form-text text-muted">
                        Your user account on Twitch used to fetch information from your Twitch account.
                    </small>
                </div>
                <div class="form-group">
                    <label for="title">Channel name</label>
                    <input type="text" id="title" required class="form-control" [(ngModel)]="channel.title" name="title" minlength="3" #channelTitle=ngModel>
                    <small class="form-text text-muted">
                        The name of your channel how it will appear throughout the CWT website.
                    </small>
                    <div class="text-danger" *ngIf="channelTitle.errors && channelTitle.dirty">
                        <div [hidden]="!channelTitle.errors.minlength">
                            Minimum length is three chars.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary float-right" [disabled]="channelForm.invalid">
                </div>
            </form>
        </div>
    </div>
</ng-container>
