<h1 class="float-left">Streams</h1>

<a class="btn btn-lg btn-primary float-right" routerLink="/channels/create" *ngIf="displayChannelCreationButton">
    Register channel
</a>

<div class="clearfix"></div>

<img *ngIf="loading" src="/loading.gif"/>

<div class="alert alert-info" *ngIf="!streams.length && !loading">
    There are no streams unfortunately.
</div>

<table class="table mt-4" *ngIf="streams.length && !loading">
    <thead class="thead-dark">
    <tr>
        <th>
            Title
        </th>
        <th class="text-center cursor-pointer d-none d-md-table-cell" (click)="sortBy('viewCount')">
            Views
            <i *ngIf="sortColumn === 'viewCount'" class="fa" [ngClass]="sortAscending ? 'fa-sort-asc' : 'fa-sort-desc'"></i>
        </th>
        <th class="text-center cursor-pointer d-none d-md-table-cell" (click)="sortBy('duration')">
            Duration
            <i *ngIf="sortColumn === 'duration'" class="fa" [ngClass]="sortAscending ? 'fa-sort-asc' : 'fa-sort-desc'"></i>
        </th>
        <th class="text-center cursor-pointer d-none d-md-table-cell" (click)="sortBy('channel')">
            Channel
            <i *ngIf="sortColumn === 'channel'" class="fa" [ngClass]="sortAscending ? 'fa-sort-asc' : 'fa-sort-desc'"></i>
        </th>
        <th class="text-center cursor-pointer" (click)="sortBy('createdAt')">
            Created at
            <i *ngIf="sortColumn === 'createdAt'" class="fa" [ngClass]="sortAscending ? 'fa-sort-asc' : 'fa-sort-desc'"></i>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let stream of streams">
        <td>
            <a [routerLink]="['/streams', stream.id]">
                {{stream.title}}
            </a>
        </td>
        <td class="text-center d-none d-md-table-cell">
            {{stream.viewCount}}
        </td>
        <td class="text-center d-none d-md-table-cell">
            {{stream.duration}}
        </td>
        <td class="text-center d-none d-md-table-cell">
            {{stream.channel.title}}
        </td>
        <td class="text-center">
            <div class="d-sm-none">
                {{stream.createdAt | cwtDate:'MMM'}}&nbsp;{{stream.createdAt | cwtDate:'d'}},
                {{stream.createdAt | cwtDate:'y'}},<br>
                {{stream.createdAt | cwtDate:'time'}}
            </div>
            <div class="d-none d-sm-inline d-md-none">
                {{stream.createdAt | cwtDate:'MMM'}}&nbsp;{{stream.createdAt | cwtDate:'d'}},&nbsp;{{stream.createdAt | cwtDate:'y'}},
                {{stream.createdAt | cwtDate:'time'}}
            </div>
            <div class="d-none d-md-inline text-nowrap">
                {{stream.createdAt | cwtDate}}
            </div>
        </td>
    </tr>
    </tbody>
</table>
