.border {
    border-right: 1px solid #383838;
    border-bottom: 1px solid #383838;
}

#table {
    float: left;
    margin-right: 20px;
}

#games {
    margin-left: 20px;
}

.bottomBorder {
    border-bottom: 1px solid #383838;
    white-space: nowrap;
}

#ratings {
    width: 50px;
    height: 5px;
    white-space: nowrap;
    margin-bottom: 5px
}

.ratingsBar {
    height: 5px;
    display: inline-block;
}
