html, body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
    color: white;
    font-size: 10pt;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    background-color: #F5F5F5;
}

img.icon {
    float: left;
    height: 50px;
    margin-right: 5px;
}

/* Headings */

.more_item {
    width: auto !important;
    margin: 10px auto;
    font-size: 20pt;
    display: block !important;
    padding: 20px;
    padding-top:25px !important;
}

#topbar {
    width: 100%;
    background-color: #3F3429; /*#31271F #201A16*/
    height: 30px;
    padding: 3px;
    margin: 0px;
}

#time {
    float: left;
    color: white;
    position: relative;
    padding-top: 4px;
    z-index: 2;
}

/* Menu */

#menubacker {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
    background-color: #4D4032;
    height: 80px;
    width: 100%;
}

#menu {
    margin-top: 12px;
    text-align: right;
    white-space: nowrap;
}

.menu_item {
    text-align: center;
    display: inline-block;
    color: white;
    background-color: #26323B; /*004050*/
    height: 35px;
    width: 99.49px;
    padding-top: 15px;
}

.menu_item:hover {
    background-color: #303F4B;
    cursor: pointer;
}

.menu_item:active {
    background-color: #1C252B;
}

.popcorn_item:active {
    border-style: inset;
    background-color: #1C252B;
}

/* Elements */

#container {
    margin: -110px auto 0px auto;
    padding: 0px;
    width: 980px;
    overflow: visible;
}

#content {
    margin-top: 30px;
    overflow: visible;
}

#box {
    /* 980px - 20px - 20px = 940px */
    margin: 10px auto 0px auto;
    padding: 20px;
    background-color: transparent;
    overflow: visible;
}

#boxFloat {
    float: left;
    margin: 0px 0px;
    padding: 20px;
}

/* User Area */

#user {
    text-align: right;
    color: white;
    height: 30px;
}

#userpanel {
    display: inline-block;
    height: 30px;
    width: 550px;
}

/* User Menu */

#menu_user {
    display: inline-block;
    margin-left: 5px;
    text-align: right;
    white-space: nowrap;
    min-width: 120px;
    position: relative;
    z-index: 99;
}

.item_user {
    text-align: center;
    display: block;
    margin-top: -6px;
    padding: 10px 10px 0px 10px;
    height: 26px;
    background-color: #2F251E;
}

.item_user:hover {
    cursor: pointer;
    background-color: #5D4D3C;
}

.open_item_user {
    position: relative;
    float: right;
    overflow: visible;
    text-align: center;
    display: none;
    background-color: #5D4D3C;
    width: 120px;
    padding: 10px 0px;
    border-top: none;
}

.gu_item a {
    color: white;
    font-weight: normal;
}

.gu_item:hover {
    cursor: pointer;
    background-color: #3170CE;
}

/* Footer */

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -40px;
}

#push {
    height: 60px;
    clear: both;
}

#footer {
    color: lightgray;
    width: 960px;
    height: 20px;
    margin: 0px auto 0px;
    padding: 10px;
    background-color: #2E2E2E; /*004050*/
}

#copyright {
    float: left;
}

#pages {
    text-align: right;
}

/* Archive */

div#year {
    background-color: #57553D;
    margin: -20px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
    letter-spacing: 20px;
}

/* Recurring */

#adminNews {
    text-align: center;
    position: relative;
    font-size: 8pt;
    margin: -35px 0px 10px 770px;
    background-color: #2E2E2E;
    padding: 2px;
    width: 186px;
}

#dblButton {
    width: 30px;
    height: 20px;
    text-align: center;
    margin: 0px auto;
    white-space: nowrap;
}

.dblButtonBasic, .dblButtonTrue {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    width: 15px;
    height: 20px;
    border: 1px solid #C4C4C4;
    border-style: outset;
}

.dblButtonFalse {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    width: 15px;
    height: 20px;
    border: 1px solid #C4C4C4;
    border-style: inset;
    background-color: gray;
}

.dblButtonBasic:hover {
    border-style: inset;
    cursor: pointer;
}

#loading {
    height: 19px;
    margin-bottom: -5px;
    display: none;
}

#progress {
    margin: 10px auto 0px auto;
    text-align: center;
}

#progressbar {
    position: relative;
    height: 21px;
    width: auto;
    display: inline-block;
}

.infoboard {
    color: rgb(46, 46, 46);
    margin-top: 100px !important;
    height: 210px;
    padding-bottom: 4px !important;
    background-color: white !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

img {
    border: none;
}

h1 {
    font-size: 20pt;
    font-weight: normal !important;
}

h2 {
    font-size: 16pt;
}

h3 {
    font-size: 14pt;
}

h4 {
    font-size: 12pt;
}

input, textarea, select {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
    font-size: 10pt;
}

input[type=submit], button {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
    border: 1px solid #C0C0C0;
    padding: 1px 10px;
}

input[type=submit]:active, button:active {
    border-style: inset;
}

input[type=submit]:hover, button:hover {
    cursor: pointer;
}

input[disabled=disabled], button[disabled=disabled] {
    border-style: inset;
}

a {
    color: #57ADF7;
    text-decoration: none;
    border: none;
    font-weight: normal;
}

.plainer {
    font-weight: normal;
    color: white;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

a:active {
    color: green;
}

ul {
    list-style: square;
}

/* Messages */

#authMessage {
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
    border: 2px solid #DBDBDB;
    border-style: outset;
    margin: 15px auto 15px auto;
    padding: 20px;
    overflow: visible;
    background-color: #790000; /* Like error. */
}

#flashMessage {
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
    border: 2px solid #DBDBDB;
    border-style: outset;
    margin: 15px auto 15px auto;
    padding: 20px;
    overflow: visible;
}

.success, .message {
    background-color: #004011;
}

.warning {
    background-color: #494736;
}

/* Tiny messages that appear next to inputs fields. */
.error-message {
    color: red;
    font-weight: bold;
}

/* Paging */

.paging {
    background: transparent;
    color: #ccc;
    margin-top: 1em;
    clear: both;
    text-align: center;
}

.paging .current,
.paging .disabled,
.paging a {
    text-decoration: none;
    padding: 5px 8px;
    display: inline-block
}

.paging > span {
    display: inline-block;
    border: 1px solid #ccc;
    border-left: 0;
}

.paging > span:hover {
    background: #efefef;
}

.paging .prev {
    border-left: 1px solid #ccc;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.paging .next {
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

.paging .disabled {
    color: #ddd;
}

.paging .disabled:hover {
    background: transparent;
}

.paging .current {
    background: #efefef;
    color: #c73e14;
}

/* Cake Generic - Development Mode */

.cake-debug-output {
    background-color: lightgray;
    color: black;
    padding: 10px;
    border-bottom: 1px solid gray;
    text-align: left;
}

.success,
.message,
.cake-error,
.cake-debug,
.notice,
p.error,
.error-message {
    background: #ffcc00;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(top, #ffcc00, #E6B800);
    background-image: -ms-linear-gradient(top, #ffcc00, #E6B800);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#E6B800));
    background-image: -webkit-linear-gradient(top, #ffcc00, #E6B800);
    background-image: -o-linear-gradient(top, #ffcc00, #E6B800);
    background-image: linear-gradient(top, #ffcc00, #E6B800);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 18px;
    padding: 7px 14px;
    color: #404040;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

.success,
.message,
.cake-error,
p.error,
.error-message {
    clear: both;
    color: #fff;
    background: #c43c35;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: linear-gradient(top, #ee5f5b, #c43c35);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

pre {
    background-color: gray;
    padding: 10px;
    border: 1px solid black;
}

.message {
    border: none !important;
    background-color: #8B0000;
}

#flashMessage {
    background-image: none;
    border-radius: 0;
    font-weight: normal !important;
    border: none;
}

div#flashMessage.message {
    background-color: #006400;
}

div#flashMessage.error {
    background-color: #8B0000;
}
