<h1 class="mb-4">Tournament Reviews</h1>

<img *ngIf="!tournaments?.length" src="../../img/loading.gif"/>

<div *ngIf="tournaments?.length">
    <div class="form-group">
        <label for="tournament-year" class="sr-only">Tournament</label>
        <select id="tournament-year" class="custom-select col-12 col-sm-6 col-md-4 col-lg-3" required
                [(ngModel)]="selectedTournament"
                (change)="selectTournament($event.target.value)">
            <option value="" *ngIf="tournaments?.length > 1" disabled selected>Select tournament…</option>
            <option *ngFor="let tournament of tournaments;" [value]="tournament.id">
                {{tournament.created | cwtDate:'y'}}
            </option>
        </select>
    </div>
    <form #reviewForm="ngForm" (ngSubmit)="submit()" *ngIf="tournamentBeingEdited != null">
        <div class="form-group">
            <label for="tournament-year" class="sr-only">Review</label>
            <textarea class="form-control" id="text" aria-describedby="text"
                      placeholder="Write a little background story about the tournament that’s fun for others to read…"
                      rows="20" (keyup.control.enter)="reviewForm.onSubmit($event)"
                      [(ngModel)]="reviewBeingEdited" name="text" #text="ngModel" required>
            </textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary pull-right">
                Submit
            </button>
        </div>
    </form>
</div>
