<h1>Settings</h1>

<div class="mt-4 card-columns">
    <div class="card bg-secondary" *ngFor="let config of configurations">
        <div class="card-body">
            <h5 class="card-title"><code>{{config.key}}</code></h5>
            <p class="card-text">{{config.description}}</p>
            <input type="text" class="form-control text-monospace" [(ngModel)]="config.value">
            <button class="btn btn-primary float-right mt-1 mb-3" type="button" (click)="submit(config.key, config.value)">Submit</button>
        </div>
    </div>
</div>
