<div class="row justify-content-center">
    <div class="col-10 col-sm-6 offset-md-1 col-md-5">
        <h2>Administrative</h2>
        <ul>
            <li>
                <a routerLink="/admin/news">
                    Write admin news
                </a>
            </li>
            <li>
                <a routerLink="/admin/rules">
                    Write rules
                </a>
            </li>
            <li>
                <a routerLink="/admin/settings">
                    Tweak settings
                </a>
            </li>
            <li>
                <a routerLink="/admin/tournaments/review">
                    Write tournament reviews
                </a>
            </li>
            <li>
                <a routerLink="/admin/chat">
                    Administer Chat
                </a>
            </li>
        </ul>
    </div>
    <div class="col-10 col-sm-6 col-md-5">
        <h2>Tournament</h2>
        <ul>
            <li *ngIf="tournament?.status == null">
                <a routerLink="/admin/tournaments/start">
                    Start a new tournament
                </a>
            </li>
            <li *ngIf="tournament?.status === 'OPEN'">
                <a routerLink="/admin/groups/start">
                    Start group stage
                </a>
            </li>
            <li *ngIf="tournament?.status === 'GROUP'">
                <a routerLink="/admin/playoffs/start">
                    Start playoffs
                </a>
            </li>
            <li *ngIf="tournament?.status === 'GROUP' || tournament?.status === 'PLAYOFFS'">
                <a routerLink="/admin/tech-win">
                    Add tech win
                </a>
            </li>
            <li *ngIf="tournament?.status === 'GROUP'">
                <a routerLink="/admin/replace-player">
                    Replace player
                </a>
            </li>
            <li *ngIf="tournament?.status === 'GROUP' || tournament?.status === 'PLAYOFFS'">
                <a routerLink="/admin/void-game">
                    Void game
                </a>
            </li>
        </ul>
    </div>
</div>
