<div class="cwt-top-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-6 cwt-gmt">
                Wednesday, December 28, 2016, 21:02:14 GMT
            </div>
            <div class="col-md-6 text-md-right">
                <a href="#">
                    <button>
                        Log in
                    </button>
                </a>
                <a href="#">
                    <button>
                        Register
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-toggleable-md navbar-inverse cwt-navbar">
    <div class="row no-gutters cwt-mobile-nav">
        <div class="col">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-lg fa-bars"></i>
            </button>
        </div>
        <div class="col text-center">
            <img src="../img/icon.png">
        </div>
        <div class="col text-right">
            <i class="fa fa-lg fa-user text-white"></i>
        </div>
    </div>
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav mr-auto mt-lg-0">
                <li class="nav-item cwt-icon">
                    <a class="nav-link" href="#">
                        <img src="../img/icon.png">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Groups
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Playoffs
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Ratings
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Bets
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Games
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Users
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Streams
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Archive
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        More&hellip;
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            Hello, World!
        </div>
        <div class="col-md-6">
            Hello, World! 2
        </div>
    </div>
</div>
