<div class="cwt-top-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-6 cwt-gmt">
                Wednesday, December 28, 2016, 21:02:14 GMT
            </div>
            <div class="col-md-6 text-md-right">
                <a href="#" class="btn">
                    Log in
                </a>
                <a href="#" class="btn">
                    Register
                </a>
            </div>
        </div>
    </div>
</div>

<nav [ngClass]="{'apple-standalone': isAppleStandalone}" class="navbar navbar-toggleable-md navbar-inverse cwt-navbar">
    <div class="row no-gutters cwt-mobile-nav">
        <div class="col">
            <button (click)="isNavCollapsed = !isNavCollapsed" [ngClass]="{'is-active': !isNavCollapsed}"
                    class="hamburger hamburger--collapse">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
        <div class="col text-center">
            <img src="../img/icon.png">
        </div>
        <div class="col text-right">
            <i class="fa fa-lg fa-user cwt-user-panel-icon"></i>
        </div>
    </div>
    <div class="container">
        <div [ngClass]="{'apple-standalone': isAppleStandalone}" [ngbCollapse]="isNavCollapsed">
            <ul class="navbar-nav">
                <li class="nav-item cwt-icon">
                    <a class="nav-link" href="#">
                        <img src="../img/icon.png">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Groups
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Playoffs
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Ratings
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Bets
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Games
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Users
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Streams
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Archive
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        More&hellip;
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            Hello, World!
        </div>
        <div class="col-md-6">
            Hello, World! 2
        </div>
    </div>
</div>
