<div class="cwt-top-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-6 cwt-gmt">
                Wednesday, December 28, 2016, 21:02:14 GMT
            </div>
            <div class="col-md-6 text-md-right">
                <a href="#">
                    <button>
                        Log in
                    </button>
                </a>
                <a href="#">
                    <button>
                        Register
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-toggleable-md navbar-light bg-faded cwt-navbar">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link cwt-icon" href="#">
                    <img src="../img/icon.png">
                </a>
                <a class="nav-item nav-link" href="#">
                    Groups
                </a>
                <a class="nav-item nav-link" href="#">
                    Playoffs
                </a>
                <a class="nav-item nav-link" href="#">
                    Ratings
                </a>
                <a class="nav-item nav-link" href="#">
                    Bets
                </a>
                <a class="nav-item nav-link" href="#">
                    Games
                </a>
                <a class="nav-item nav-link" href="#">
                    Users
                </a>
                <a class="nav-item nav-link" href="#">
                    Streams
                </a>
                <a class="nav-item nav-link" href="#">
                    Archive
                </a>
                <a class="nav-item nav-link" href="#">
                    More&hellip;
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            Hello, World!
        </div>
        <div class="col-md-6">
            Hello, World! 2
        </div>
    </div>
</div>
