<div class="row justify-content-md-center">
    <div class="col-md-6">
        <form #registerForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <input type="text" class="form-control" id="name" aria-describedby="username" placeholder="Username"
                       [(ngModel)]="user.name" name="name" required maxlength="16">
                <small class="form-text text-muted">
                    The name you&rsquo;re recognized by in the Wormosphere. Do not include your clan tag.
                </small>
            </div>
            <div class="form-group">
                <input type="email" class="form-control" id="email" aria-describedby="email" placeholder="Email"
                       [(ngModel)]="user.email" name="email" required>
                <small class="form-text text-muted">
                    We use this as a source of identification. You can reset your password with it if you happen to forget it, for
                    instance.<br>
                    In spite of that and if at all, we might send you an email once a year to inform you about the upcoming
                    edition of CWT.
                </small>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="password" aria-describedby="password" placeholder="Password"
                       [(ngModel)]="user.password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary pull-right" [disabled]="!registerForm.form.valid">Register</button>
        </form>
    </div>
</div>

<pre>{{diagnostic | json}}</pre>
