$theme-colors: (primary: #322a21, secondary: #1B2021, success: #2A9D8F, info: #473042, warning: #E9C46A, danger: #89023E, light: #C4C3C6, dark: #000);
$table-border-color: #000;
$table-color: #808080;
$table-hover-bg: rgba(0, 0, 0, 0.4);
$input-bg: #d4d4d4;
$input-border-color: #000;
$input-color: #1B2021;
$pagination-bg: #322a21;
$pagination-border-color: #322a21;
$pagination-hover-bg: #89023E;
$pagination-hover-border-color: #89023E;
$pagination-active-bg: #89023E;
$pagination-disabled-bg: #1B2021;
$pagination-disabled-border-color: #1B2021;
