$theme-colors: (primary: get('primary'), secondary: get('secondary'), success: get('success'), info: get('info'), warning: get('warning'), danger: get('danger'), light: get('light'), dark: get('dark'));
$table-border-color: get('tableBorderColor');
$table-color: get('tableColor');
$table-hover-bg: get('tableHoverBg');
$input-bg: get('inputBg');
$input-border-color: get('inputBorderColor');
$input-color: get('secondary');
$pagination-bg: get('primary');
$pagination-border-color: get('primary');
$pagination-hover-bg: get('danger');
$pagination-hover-border-color: get('danger');
$pagination-active-bg: get('danger');
$pagination-disabled-bg: get('secondary');
$pagination-disabled-border-color: get('secondary');

