.playoff-tree {
  display: flex;
  overflow-x: auto;
}

.playoff-round {
  float: left;
}

.playoff-spot td {
  border: 1px solid #1a2427;
  background-color: #1a2427;
  color: #aaa;
  padding: 5px;
  height: 36px;
}

.playoff-spot a {
  color: #aaa;
}

table.playoff-spot {
  margin-bottom: 2px;
  background-color: transparent;
  display: table;
  border-collapse: separate;
  border-spacing: 1px;
  width: 228px;
}

table.playoff-spot.odd {
  margin-bottom: 4px;
}

.playoff-tree > .playoff-round:not(:first-child) {
  margin-left: 6px;
}

.playoff-spot .playoff-user {
  width: 175px;

  &.highlight {
      background-color: rgba(0, 0, 0, .4);
  }
}

.playoff-score,
.playoff-bet {
  text-align: center;
}

@media (min-width: 1200px) {

  table.playoff-spot {
    width: 273px;
  }

  .playoff-spot .playoff-user {
    width: 217px;
  }
}

.playoff-round:nth-child(2) {
  padding-top: 39px;

  &:last-child {
    padding-top: 0;

    & .playoff-spot:not(:first-child) {
      margin-top: 5px;
    }
  }

  & .playoff-spot:not(:first-child) {
    margin-top: 81px;
  }
}

.playoff-round:nth-child(3) {
  padding-top: 117px;

  & .playoff-spot:not(:first-child) {
    margin-top: 237px;
  }

  &:last-child {
    padding-top: 35px;

    &.three-way-final {
      padding-top: 50px;
    }
  }
}

.playoff-round:nth-child(4) {
  padding-top: 273px;

  & .playoff-spot:not(:first-child) {
    margin-top: 548px;
  }

  &:last-child {
    padding-top: 190px;

    &.three-way-final {
      padding-top: 285px;
    }
  }
}

.playoff-round:nth-child(5) {
  padding-top: 585px;

  & .playoff-spot:not(:first-child) {
    margin-top: 1172px;
  }

  &:last-child {
    padding-top: 503px;

    &.three-way-final {
      padding-top: 1065px;
    }
  }
}

.playoff-round:nth-child(6) {
  padding-top: 1248px;

  & .playoff-spot:not(:first-child) {
    margin-top: 2382px;
  }

  &:last-child {
    padding-top: 1128px;

    &.three-way-final {
      padding-top: 750px;
    }
  }
}

.playoff-round:nth-child(7):last-child {
  padding-top: 2375px;

  &.three-way-final {
    padding-top: 1685px;
  }
}

.playoff-round:last-child {
  // Little final
  & .playoff-spot:not(:first-child) {
    margin-top: 15px;
  }
}
