@import "custom";
@import "~bootstrap/scss/bootstrap";
@import "tree";
@import "hamburger";
@import "tetris";

html {
  background: #000;
  min-height: 100%;
}

body {
  background: transparent;
  color: #808080;

  &.goldWinner {
    &::before {
      content: "";
      position: fixed;
      top: 110px;
      right: 20px;
      height: 600px;
      width: 600px;
      background-image: url("../img/reach/gold.png");
      background-position: right;
      background-repeat: no-repeat;
      background-size: cover;
      filter: blur(15px) opacity(.5);
      z-index: -1;
    }

    @media (max-width: 575px) {
      .cwt-nav-container .nav-item {
        background-color: #ffc800;

        .nav-link {
          background-color: #6f4f00;
        }
      }
    }

    .cwt-top-bar {
      background-color: #6f4f00;
    }

    .cwt-navbar {
      background-color: #ffc800;
    }
  }
}

.cwt-top-bar {
  background-color: theme-color('primary');
  color: #cecece;
  font-size: 14px;
  height: 30px;
  margin: 0;
}

.cwt-top-bar .cwt-gmt {
  padding-top: 4px;
  color: #aaa;
  overflow: visible;
  white-space: nowrap;
}

@media (min-width: 576px) and (max-width: 767px) {
  .cwt-top-bar .cwt-gmt {
    letter-spacing: -.05rem;
  }
}

.cwt-top-bar a {
  height: 30px;
  color: #cecece;
  border: none;
  border-radius: 0;
  cursor: pointer;
  font-size: 14px;
  margin-left: 5px;
  padding: 6px 0 0 25px;
  white-space: nowrap;
}

.cwt-top-bar a:hover,
.cwt-top-bar a:focus {
  color: #cecece;
  text-decoration: underline;
}

.cwt-nav-container .cwt-navbar {
  background-color: theme-color('secondary');
}

.cwt-nav-container .nav-item {
  background-color: theme-color('primary');
  text-align: center;
}

.cwt-nav-container .nav-item,
.cwt-nav-container .nav-link {
  border-radius: 0.25rem;
}

.cwt-nav-container .nav-item a {
  color: #cecece !important;
}

.cwt-nav-container .nav-item.cwt-icon img {
  height: 44px;
}

.cwt-nav-container .nav-item.cwt-icon {
  width: 44px;
}

.cwt-nav-container .nav-item.cwt-icon a {
  padding: 0 !important;
  width: auto;
}

.cwt-mobile-nav img {
  height: 35px;
  margin-top: -4px;
}

.cwt-mobile-nav {
  padding: 16px 16px 10px;
  width: 100%;
  color: #cecece;
}

.fa-user-o.cwt-user-panel-icon,
.fa-user.cwt-user-panel-icon {
  font-size: 1.8em;
  line-height: 0.75em;
  vertical-align: -25%;

  transition: transform 0.25s 0.55s ease-out;
}

.fa-user-o.cwt-user-panel-icon.vanish,
.fa-user.cwt-user-panel-icon.vanish {
  transform: translateX(200%);
  transition: transform 0.55s 0.25s ease-out;
}

.user-panel ngb-popover-window {
  float: right !important;
  margin-left: -45px !important;
  top: 37px !important;
  width: 130px !important;
  padding: 0 !important;
}

.user-panel ngb-popover-window {
  float: right !important;
  margin-left: -45px !important;
  top: 39px !important;
  width: 130px !important;
  padding: 0 !important;
}

.user-panel ngb-popover-window .popover-content {
  padding: 0;
}

.user-panel ngb-popover-window .popover-content ul {
  padding: 0;
  margin: 0;
}

.user-panel ngb-popover-window .popover-content ul li {
  padding: 15px;
  list-style: none;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.user-panel ngb-popover-window .popover-content ul li:nth-child(1) {
  border-top: none;
}

.user-panel ngb-popover-window .popover-content ul li a {
  display: block;
}

.user-panel ngb-popover-window .popover-content hr {
  margin-left: -14px;
  margin-right: -14px;
}

.user-panel ngb-popover-window.popover.popover-bottom::after,
.user-panel ngb-popover-window.popover.bs-tether-element-attached-top::after {
  margin-left: 34px !important;
  border-bottom-color: white !important;
  top: -10px !important;
}

.user-panel ngb-popover-window.popover.popover-bottom::before,
.user-panel ngb-popover-window.popover.bs-tether-element-attached-top::before {
  margin-left: 33px !important;
  top: -12px !important;
}

.collapse {
  display: block;
  height: 0;
  transition: height ease-out 400ms;
}

.container.content {
  padding-bottom: 15px;
}

@media (max-width: 575px) {
  .content.container {
    width: auto;
  }

  .cwt-nav-container .navbar.container {
    overflow-y: scroll;
    max-width: none;
  }

  .cwt-top-bar {
    display: none;
  }

  .cwt-nav-container .cwt-navbar {
    background-color: theme-color('primary');
  }

  .cwt-fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    border-bottom: 1px solid theme-color('primary');
  }

  .cwt-nav-container .nav-item.cwt-icon {
    display: none;
  }

  .cwt-nav-container .navbar {
    padding: 0;
  }

  .cwt-nav-container ul.navbar-nav {
    height: 100%;
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  .cwt-nav-container .nav-item {
    background-color: theme-color('primary');
    margin: 0 !important;
    display: table-row;
    border-radius: 0;
  }

  .cwt-nav-container .nav-link {
    display: table-cell;
    vertical-align: middle;
    border-top: 1px solid theme-color('primary');
    border-radius: 0;
  }

  .cwt-nav-container .nav-item:first-child .nav-link {
    border: none;
  }

  .cwt-nav-container .navbar.container {
    margin: 0;
    width: auto;
  }

  .collapse.show {
    height: calc(100vh - 58px);
    margin-top: 58px;
  }

  .collapse > ul.navbar-nav > li.nav-item > a.nav-link {
    opacity: 0;
  }

  .cwt-nav-container .collapse.show > ul.navbar-nav > li.nav-item:nth-child(2) > a.nav-link {
    opacity: 1;
    transition: all 0.3s linear 200ms;
  }

  .cwt-nav-container .collapse.show > ul.navbar-nav > li.nav-item:nth-child(3) > a.nav-link {
    opacity: 1;
    transition: all 0.3s linear 250ms;
  }

  .cwt-nav-container .collapse.show > ul.navbar-nav > li.nav-item:nth-child(4) > a.nav-link {
    opacity: 1;
    transition: all 0.3s linear 300ms;
  }

  .cwt-nav-container .collapse.show > ul.navbar-nav > li.nav-item:nth-child(5) > a.nav-link {
    opacity: 1;
    transition: all 0.3s linear 350ms;
  }

  .cwt-nav-container .collapse.show > ul.navbar-nav > li.nav-item:nth-child(6) > a.nav-link {
    opacity: 1;
    transition: all 0.3s linear 400ms;
  }

  .cwt-nav-container .collapse.show > ul.navbar-nav > li.nav-item:nth-child(7) > a.nav-link {
    opacity: 1;
    transition: all 0.3s linear 450ms;
  }

  .cwt-nav-container .collapse.show > ul.navbar-nav > li.nav-item:nth-child(8) > a.nav-link {
    opacity: 1;
    transition: all 0.3s linear 500ms;
  }

  .container.content {
    padding-top: 15px;
  }

  .container.content.standalone-container {
    margin-top: 53px;
  }

  .container.content.apple-standalone-container {
    margin-top: 67px;
  }
}

@media (min-width: 576px) {
  .cwt-mobile-nav {
    display: none;
  }

  .collapse {
    height: auto;
    margin-top: -75px;
  }

  .cwt-navbar {
    height: 58px;
  }

  .cwt-nav-container ul.navbar-nav {
    margin: auto -2px !important;
  }

  .cwt-nav-container .nav-item .nav-link:hover,
  .cwt-nav-container .nav-item:hover,
  .cwt-nav-container .nav-item .nav-link:focus {
    background-color: theme-color('danger');
    outline: none;
  }

  .cwt-nav-container .nav-item .nav-link:active {
    background-color: theme-color('info');
    outline: none;
  }

  .nav-item.cwt-icon .nav-link:hover,
  .nav-item.cwt-icon .nav-link:active {
    outline: none;
  }

  .nav-item.cwt-icon .nav-link:focus {
    outline: auto;
  }

  .cwt-top-bar.apple-standalone {
    padding-top: 20px;
    height: 50px;
  }
}


@media (min-width: 576px) and (max-width: 767px) {
  .nav-item {
    margin-left: .2rem;

    &:nth-child(3) {
      letter-spacing: -.05rem;
    }
  }
}

@media (min-width: 768px) {
  .nav-item {
    margin-left: .6rem;
  }
}

@media (min-width: 576px) {
  .collapse {
    width: 100%;
    display: flex;

    .navbar-nav {
      justify-content: stretch;
      align-items: stretch;

      .nav-item {
        display: flex;
        align-items: stretch;
        justify-content: stretch;
        text-align: center;
        flex-grow: 1;
        width: 80px;

        a {
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          padding: 0;
        }
      }

      .nav-item.cwt-icon {
        flex-grow: 0;
        margin-left: 0;
        width: auto;
      }
    }
  }

  .nav-link {
    padding: 0;
  }
}

@media (orientation: portrait) {
  nav.cwt-navbar.apple-standalone {
    padding-top: 15px;
  }

  .collapse.show.apple-standalone {
    height: calc(100vh - 72px);
    margin-top: 72px;
  }
}

.dropdown-toggle.no-caret:after {
  display: none;
}

.user-panel > .dropdown-menu {
  width: 160px;
}

.text-white {
  color: #aaa !important;
}

.text-real-white {
  color: #fff !important;
}

.cwt-label:before {
  content: 'Crespo’s Worms Tournament';
  white-space: nowrap;
}

.btn-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
}

.btn-group-justified .btn,
.btn-group-justified .btn-group {
  float: none;
  display: table-cell;
  width: 1%;
}

.btn-group-justified .btn .btn,
.btn-group-justified .btn-group .btn {
  width: 100%;
}

.btn-group-justified .btn .dropdown-menu,
.btn-group-justified .btn-group .dropdown-menu {
  left: auto;
}

.rounded-top-left {
  border-top-left-radius: 0.25rem !important;
}

.rounded-bottom-left {
  border-bottom-left-radius: 0.25rem !important;
}

.rounded-top-right {
  border-top-right-radius: 0.25rem !important;
}

.rounded-bottom-right {
  border-bottom-right-radius: 0.25rem !important;
}

.rendered-text {
 white-space: pre-line;
}


img.loading {
  height: 20px;
}

.btn,
button {
  font-variant: all-petite-caps;
}

ngb-typeahead-window button {
  font-variant: none;
}

.all-petite-caps {
  font-variant: all-petite-caps;
}

.font-variant-none {
  font-variant: none;
}

.popdown {
  margin-bottom: -12px;
  margin-top: -5px;

  i.fa-caret-up {
    position: relative;
    z-index: 99999;
  }
}

.bg-secondary a,
.bg-danger a,
.bg-primary a {
  color: #aaa;

  &:hover {
    color: #aaa;
  }
}


select.custom-select,
select.custom-select-lg,
select.custom-select-sm {
  -webkit-appearance: none;
}

.strikethrough {
  text-decoration: line-through;
}

.markdown h1 {
  font-size: 2rem;
}
.markdown h2 {
  font-size: 1.75rem;
}
.markdown h3 {
  font-size: 1.5rem;
}
.markdown h4 {
  font-size: 1.25rem;;
}
.markdown h5 {
  font-size: 1rem;;
}
.markdown h6 {
  font-size: 0.75rem;
}

.contenteditable-disabled {
  background-color: lightgray;
  color: gray;
}

.navbar .collapse {
   display: block;
   height: 0;
   transition: height ease-out 400ms;
}

.navbar .collapse:not(.show) {
   display: block;
}

.navbar .collapse.show {
   display: block;
}

@media (max-width: 576px) {
  .navbar .collapse.show {
    height: calc(100vh - 58px);
    margin-top: 58px;
  }
}

@media (min-width: 576px) {
  .navbar .collapse {
    height: auto;
    margin-top: -75px;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.cursor-disabled {
  cursor: not-allowed;
}

@mixin aspect-ratio($width, $height) {
  position: relative;

  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }

  > .aspect-ratio-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.aspect-ratio-16x9 {
  @include aspect-ratio(16, 9);
}

.aspect-ratio-16x10 {
  @include aspect-ratio(16, 10);
}

.font-variant-numeric-tabular-nums {
  font-variant-numeric: tabular-nums;
}

code {
  background-color: #848484;
  padding: .2rem;
  border-radius: .25rem;
  color: #000;
}

#toast-container > .toast-error {
  background-image: none !important;
  background-color: theme-color('danger');
}

#toast-container > .toast-success {
  background-image: none !important;
  background-color: theme-color('success');
}

#toast-container > .toast-error {
  background-image: none !important;
  background-color: theme-color('danger');
}

#toast-container > .toast-info {
  background-image: none !important;
  background-color: theme-color('info');
}

#toast-container > div {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  padding: 15px 20px;
}

#toast-container {
  top: 65px;
}

@media (min-width: 576px) {
  #toast-container {
    top: 95px;
  }
}

my-app.nav-is-expanded + footer {
  display: none;
}


.links-red a {
  color: #ff0071 !important;
}

.links-black a {
  color: theme-color('secondary') !important;
}

a {
  color: #887171;

  &:hover {
    color: #887171;
  }
}

li.page-item:not(.active) a.page-link {
  cursor: pointer;
}

pre {
  background-color: #888888;
  padding: .2rem;
  border-radius: .4rem;
}

hr {
  border: 1px inset #aaa;
}

zemke-tagbox::part(tag) {
  top: .5rem;
  bottom: .5rem;
}

zemke-tagbox::part(input) {
  @extend .form-control;
}

zemke-tagbox::part(input):disabled {
  background-color: rgba(255, 255, 255, 0.5);
}

.input-group {
  zemke-tagbox::part(dropdown-container) {
    border: 1px solid #fff;
  }

  zemke-tagbox::part(dropdown-item) {
    font-variant: all-petite-caps;
    font-size: 1rem;
  }

  zemke-tagbox::part(input) {
    height: inherit;
    box-sizing: border-box;
  }

  zemke-tagbox {
    flex: 1 1 0%;
    box-sizing: border-box;
    position: relative;
  }
}

