<h1>Rules</h1>

<div *ngIf="rules" class="row justify-content-center">
    <div class="col-12">
        <form #newsForm="ngForm" (ngSubmit)="submit()">
            <div class="form-group">
                <textarea class="form-control" id="text" aria-describedby="text"
                          placeholder="Introduce users to the rules and guidelines of the tournament…"
                          rows="20" (keyup.control.enter)="newsForm.onSubmit($event)"
                          [(ngModel)]="rules.value" name="text" #text="ngModel" required>
                </textarea>
                <button type="submit" class="btn btn-primary pull-right mt-1">Submit</button>
            </div>
        </form>
    </div>
</div>
