<div class="row justify-content-center">
    <div class="col-xs-6 col-sm-6 col-md-5">
        <form #passwordChangeForm="ngForm" class="mt-4" (submit)="onSubmit()" cwtConfirmValidator="newPassword,confirmPassword">
            <div class="form-group">
                <label for="newPassword">New password</label>
                <input class="form-control" required placeholder="New password" [(ngModel)]="newPassword"
                       name="newPassword" id="newPassword" type="password" #newPasswordControl="ngModel">
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm password</label>
                <input class="form-control" required placeholder="Confirm password" [(ngModel)]="confirmPassword"
                       name="confirmPassword" id="confirmPassword" type="password" #confirmPasswordControl="ngModel">
                <div class="text-danger" *ngIf="passwordChangeForm?.errors && newPasswordControl.touched && confirmPasswordControl.touched">
                    <div *ngIf="passwordChangeForm?.errors.confirmValidator">
                        The passwords don’t match.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary"
                        [disabled]="passwordChangeForm.form.invalid">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>
