<div class="row justify-content-center">
    <div class="col-xs-6 col-sm-6 col-md-5">
        <form #forgottenForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="email" class="sr-only">Your email address</label>
                <input type="text" class="form-control" id="email" aria-describedby="email" placeholder="Your email address"
                       [(ngModel)]="email" email name="email" #emailInput="ngModel" required>
                <div class="text-danger" *ngIf="emailInput.errors && emailInput.dirty">
                    <div [hidden]="!emailInput.errors.required">
                        Your email is mandatory.
                    </div>
                </div>
            </div>
            <div class="float-right">
                <img src="../../img/loading.gif" class="loading" *ngIf="loading"/>&nbsp;
                <button type="submit" class="btn btn-primary" [disabled]="!forgottenForm.form.valid || loading">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>
