<h1>Playoffs Draw</h1>

<form #playoffDrawForm="ngForm" class="mt-4" (submit)="submit()">
    <div class="row" *ngIf="games">
        <div class="col-12 col-md-6 order-2 order-md-1">
            <div *ngFor="let game of games; let index = index; let even = even;" class="form-row pb-2">
                <div class="col-12 col-sm-6">
                    <input class="form-control" required placeholder="Home" [(ngModel)]="game.homeUser"
                           name="{{'gameHomeUserRound1Spot' + game.playoff.spot}}" [editable]="false"
                           [ngClass]="{'is-invalid': playoffDrawForm.control.controls['gameHomeUserRound1Spot' + game.playoff.spot]?.invalid && playoffDrawForm.control.controls['gameHomeUserRound1Spot' + game.playoff.spot]?.touched}"
                           [ngbTypeahead]="typeAheadForPlayoffsUser" [inputFormatter]="typeAheadInputFormatter"
                           [resultFormatter]="typeAheadResultFormatter">
                </div>
                <div class="col-12 col-sm-6 mt-1 mt-sm-0">
                    <input class="form-control" required placeholder="Away" [(ngModel)]="game.awayUser"
                           name="{{'gameAwayUserRound1Spot' + game.playoff.spot}}" [editable]="false"
                           [ngClass]="{'is-invalid': playoffDrawForm.control.controls['gameAwayUserRound1Spot' + game.playoff.spot]?.invalid && playoffDrawForm.control.controls['gameAwayUserRound1Spot' + game.playoff.spot]?.touched}"
                           [ngbTypeahead]="typeAheadForPlayoffsUser" [inputFormatter]="typeAheadInputFormatter"
                           [resultFormatter]="typeAheadResultFormatter">
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 order-1 order-md-2">
            <div class="row">
                <div *ngFor="let pot of numberOfGroupMembersAdvancingIterable" class="col-12 col-lg-6">
                    <div class="card-deck mb-2">
                        <div class="card my-1 my-sm-0">
                            <div class="card-body">
                                <h4 class="card-title">Place {{pot + 1}}</h4>
                                <p class="card-text">
                                    <span *ngFor="let group of groups; let last = last;">
                                        <span *ngFor="let standing of group.standings | cwtStandingsOrder; let index = index">
                                            <span *ngIf="index === pot">
                                                <cwt-user [username]="standing.user.username" [ngClass]="{'strikethrough': isDrawn(standing.user.id)}"></cwt-user>{{last ? '' : ', '}}
                                            </span>
                                        </span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="form-check mb-3">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" required [(ngModel)]="confirm" name="agreeToRuleconfirms">
                    I have reviewed the draw.
                </label>
            </div>
            <button class="btn btn-primary mr-1 mb-1" type="button" (click)="autoDraw()" style="width: 190px">
                Auto Draw Playoffs
            </button>
            <button class="btn btn-primary mb-1" style="width: 190px"
                    [disabled]="!playoffDrawForm.form.valid">
                Submit Playoffs Draw
            </button>
        </div>
    </div>
</form>

<pre>{{games | json}}</pre>
