<div class="playoff-tree" *ngIf="playoffGames">
    <div *ngFor="let gamesInRound of playoffGames; let indexOfRound = index; let lastRound = last" class="playoff-round">
        <table *ngFor="let game of gamesInRound; let odd = odd; let indexOfGameInRound = index; let lastGameOfRound = last" class="playoff-spot" [ngClass]="{'odd': odd}"
               [ngStyle]="{'margin-top': indexOfRound !== 0 ? ([[0, 81, 81, 81], [118, 236], [196, 12]])[indexOfRound - 1][indexOfGameInRound] + 'px' : 'inherit'}">
            <thead *ngIf="lastRound">
            <tr>
                <td colspan="3" class="text-center rounded-top">
                    <h6 class="m-0" *ngIf="lastGameOfRound">Little Final</h6>
                    <h5 class="m-0" *ngIf="!lastGameOfRound">Final</h5>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="playoff-user" [ngClass]="{'rounded-top-left': !lastRound, 'rounded-top-right': (!game?.homeUser || !game?.awayUser) && !lastRound}">
                    {{game?.homeUser?.username}}
                </td>
                <td class="playoff-score" *ngIf="game?.reporter">
                    {{game?.scoreHome}}
                </td>
                <td *ngIf="game?.reporter" rowspan="2" class="rounded-bottom-right" [ngClass]="{'rounded-top-right': !lastRound}">
                    <a [routerLink]="['/game', game?.id]">
                        <i class="fa fa-arrow-circle-down"></i>
                    </a>
                    <a [routerLink]="['/game', game?.id]">
                        <i class="fa fa-info-circle"></i>
                    </a>
                </td>
                <td class="playoff-bet rounded-top-right" *ngIf="!game?.reporter && game?.homeUser && game?.awayUser">
                    <input type="radio"> <!-- TODO Betting. -->
                </td>
            </tr>
            <tr>
                <td class="playoff-user rounded-bottom-left" [ngClass]="{'rounded-bottom-right': !game?.homeUser || !game?.awayUser}">
                    {{game?.awayUser?.username}}
                </td>
                <td class="playoff-score" *ngIf="game?.reporter">
                    {{game?.scoreAway}}
                </td>
                <td class="playoff-bet rounded-bottom-right" *ngIf="!game?.reporter && game?.homeUser && game?.awayUser">
                    <input type="radio">
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="clearfix"></div>
<pre style="margin-top: 250px" *ngIf="playoffGames">{{debug| json}}</pre>



