@media (max-width: 575px) {
    table.group-games tr > td:nth-child(5) {
        width: 40px;
    }

    table.group-games tr > td:nth-child(1),
    table.group-games tr > td:nth-child(3) {
        width: 200px;
    }

    table.group-games tr > td:nth-child(2) {
        width: 50px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    table.group-games tr > td:nth-child(5) {
        width: 40px;
    }

    table.group-games tr > td:nth-child(1),
    table.group-games tr > td:nth-child(3) {
        width: 200px;
    }

    table.group-games tr > td:nth-child(2) {
        width: 50px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    table.group-games tr > td:nth-child(5) {
        width: 40px;
    }

    table.group-games tr > td:nth-child(1),
    table.group-games tr > td:nth-child(3) {
        width: 300px;
    }

    table.group-games tr > td:nth-child(2) {
        width: 50px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    table.group-games tr > td:nth-child(5) {
        width: 40px;
    }

    table.group-games tr > td:nth-child(1),
    table.group-games tr > td:nth-child(3) {
        width: 150px;
    }

    table.group-games tr > td:nth-child(2) {
        width: 50px;
    }
}

@media (min-width: 1200px) {
    table.group-games tr > td:nth-child(5) {
        width: 40px;
    }

    table.group-games tr > td:nth-child(1),
    table.group-games tr > td:nth-child(3) {
        width: 200px;
    }

    table.group-games tr > td:nth-child(2) {
        width: 50px;
    }
}
