/* #3F3429 is the base color */

html, body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
}

my-app .loading {
    margin: 10px;
}

.cwt-top-bar {
    background-color: #3F3429;
    color: white;
    font-size: 12px;
    height: 30px;
    margin: 0;
}

.cwt-top-bar .cwt-gmt {
    padding-top: 7px;
}

.cwt-top-bar button {
    height: 30px;
    width: 80px;
    color: white;
    border: none;
    cursor: pointer;
    background-color: #1A2427;
}

.cwt-navbar {
    background-color: #6E6052;
}

.cwt-navbar .nav-item {
    background-color: #1A2427;
    margin: 0 2px;
    text-align: center;
    font-size: 14px;
    padding: 5px 20px;
}

.cwt-navbar .nav-item a {
    color: white !important;
}

.cwt-navbar .nav-item.cwt-icon img {
    height: 45px;
}

.cwt-navbar .nav-item.cwt-icon {
    padding: 0 !important;
    width: auto;
}

.cwt-navbar .nav-item.cwt-icon a {
    padding: 0 !important;
    width: auto;
}

.navbar-toggler {
    border: none;
    padding: 0;
}

.cwt-mobile-nav img {
    height: 27px;
}

.cwt-mobile-nav {
    padding: 16px;
}

@media (max-width: 991px) {
    .cwt-top-bar {
        display: none;
    }

    .cwt-navbar {
        background-color: #3F3429;
    }

    .nav-item.cwt-icon {
        display: none;
    }

    .navbar {
        padding: 0;
    }

    .nav-item {
        background-color: #6E6052 !important;
        border-top: 1px solid #3F3429;
        margin: 0 !important;
    }

    .navbar .container {
        margin: 0;
        width: auto;
    }
}

@media (min-width: 992px) {
    .cwt-mobile-nav {
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .cwt-navbar .nav-item {
        width: 94.4px;
    }
}

@media (min-width: 1200px) {
    .cwt-navbar .nav-item {
        width: 114.4px;
    }
}