/* #3F3429 is the base color */

html, body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
}

my-app .loading {
    margin: 10px;
}

.cwt-top-bar {
    background-color: #3F3429;
    color: white;
    font-size: 14px;
    height: 30px;
    margin: 0;
}

.cwt-top-bar .cwt-gmt {
    padding-top: 4px;
}

.cwt-top-bar a {
    height: 30px;
    width: 80px;
    color: white;
    border: none;
    cursor: pointer;
    background-color: #1A2427;
    padding-top: 6px;
    font-size: 14px;
}

.cwt-top-bar a:hover,
.cwt-top-bar a:focus {
    background-color: #334144;
    outline: none;
}

.cwt-top-bar a:active {
    background-color: #4D5F63;
    outline: none;
}

.cwt-navbar {
    background-color: #6E6052;
}

.cwt-navbar .nav-item {
    background-color: #1A2427;
    margin: 0 2px;
    text-align: center;
}

.cwt-navbar .nav-item a {
    color: white !important;
    padding: 10px;
}

.cwt-navbar .nav-item.cwt-icon img {
    height: 44px;
}

.cwt-navbar .nav-item.cwt-icon {
    padding: 0 !important;
    width: auto;
}

.cwt-navbar .nav-item.cwt-icon a {
    padding: 0 !important;
    width: auto;
}

.navbar-toggler {
    color: #4D5F63 !important;
    border: none;
    padding: 0;
}

.cwt-mobile-nav img {
    height: 27px;
}

.cwt-mobile-nav {
    padding: 16px;
}

.navbar .fa-user {
    color: #4D5F63 !important;
}

@media (max-width: 991px) {
    .cwt-top-bar {
        display: none;
    }

    .cwt-navbar {
        background-color: #3F3429;
    }

    .nav-item.cwt-icon {
        display: none;
    }

    .navbar {
        padding: 0;
    }

    ul.navbar-nav {
        height: 100%;
        display: table;
        table-layout: fixed;
        width: 100%;
    }

    .nav-item {
        background-color: #6E6052 !important;
        /* border-top: 1px solid #3F3429; */
        margin: 0 !important;
        display: table-row;
    }

    .nav-link {
        display: table-cell;
        vertical-align: middle;
        border-top: 1px solid #3F3429;
    }

    .nav-item:first-child .nav-link {
        border: none;
    }

    .navbar .container {
        margin: 0;
        width: auto;
    }

    .collapse.show {
        height: calc(100vh - 59px);
    }
}

@media (min-width: 992px) {
    .cwt-mobile-nav {
        display: none;
    }

    .cwt-navbar .nav-item .nav-link:hover,
    .cwt-navbar .nav-item .nav-link:focus {
        background-color: #334144;
        outline: none;
    }

    .cwt-navbar .nav-item .nav-link:active {
        background-color: #4D5F63;
        outline: none;
    }

    .cwt-navbar .nav-item.cwt-icon .nav-link:hover,
    .cwt-navbar .nav-item.cwt-icon .nav-link:active {
        outline: none;
    }

    .cwt-navbar .nav-item.cwt-icon .nav-link:focus {
        outline: auto;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .cwt-navbar .nav-item {
        width: 94.1px;
    }
}

@media (min-width: 1200px) {
    .cwt-navbar .nav-item {
        width: 114.1px;
    }
}

.collapsing {
    transition: height 0.1s;
}