/* TODO This is optimized for desktop sizes */
/* TODO Move this into the component. */

.playoff-tree {
}

.playoff-round {
    float: left;
}

.playoff-spot td {
    border: 1px solid #1a2427;
    background-color: #1a2427;
    color: white;
    padding: 5px;
    height: 36px;
}

.playoff-spot a {
    color: white;
}

.playoff-spot td a {
    display: block;
    padding: 2px 0;
}

table.playoff-spot {
    margin-bottom: 2px;
    background-color: transparent;
    display: table;
    border-collapse: separate;
    border-spacing: 1px;
    width: 228px;
}

.playoff-round:nth-child(2) {
    padding-top: 39px;
}

table.playoff-spot.odd {
    margin-bottom: 4px;
}

.playoff-tree > .playoff-round:not(:first-child) {
    margin-left: 6px;
}

.playoff-spot .playoff-user {
    width: 175px;
}

.playoff-score,
.playoff-bet {
    text-align: center;
}

@media (min-width: 1200px) {

    table.playoff-spot {
        width: 273px;
    }

    .playoff-spot .playoff-user {
        width: 217px;
    }
}
