<cwt-apply-banner [userId]="authenticatedUser.id" *ngIf="authenticatedUser" class="float-right"></cwt-apply-banner>

<h1 class="mb-1">
    Crespo’s Worms Tournament
</h1>

<div class="card bg-red-0 text-white mb-4" *ngIf="news">
    <div class="card-body">
        <p class="card-text">
            <span class="rendered-text">{{news.value}}</span>
        </p>
        <p class="card-text float-right">
            <small class="text-muted">
                <a [routerLink]="['/user', news.author.username]">{{news.author.username}}</a>,
                <cwt-time-ago [date]="news.modified"></cwt-time-ago>
            </small>
        </p>
    </div>
</div>

<pre>{{messages | json}}</pre>
