<cwt-apply-banner [userId]="authenticatedUser?.id" *ngIf="authenticatedUser && tournament" class="float-right"></cwt-apply-banner>

<h1 class="mb-1">
    Crespo’s Worms Tournament
</h1>

<div class="position-relative">
    <div class="hell-objects">
        <img src="../../img/misc/monument.png" class="monument">
        <img src="../../img/misc/sickle.png" class="sickle">
        <img src="../../img/misc/monument.png">
    </div>
</div>
<div class="position-relative">
    <div class="hellground">
        <img src="../../img/misc/hellground.png">
        <img src="../../img/misc/hellground.png">
        <img src="../../img/misc/hellground.png">
        <img src="../../img/misc/hellground.png">
        <img src="../../img/misc/hellground.png">
        <img src="../../img/misc/hellground.png">
        <img src="../../img/misc/hellground.png">
        <img src="../../img/misc/hellground.png">
        <img src="../../img/misc/hellground.png">
        <img src="../../img/misc/hellground.png">
        <img src="../../img/misc/hellground.png">
        <img src="../../img/misc/hellground.png">
        <img src="../../img/misc/hellground.png">
    </div>
    <img src="../../img/worms/ew.png" class="ew">
</div>
<div class="card bg-secondary text-white mt-3 mb-3" *ngIf="news">
    <div class="card-body">
        <cwt-markdown [raw]="news.value" class="links-red"></cwt-markdown>
        <p class="card-text float-right">
            <small class="text-muted">
                <cwt-time-ago [date]="news.modified"></cwt-time-ago>
            </small>
        </p>
    </div>
</div>
<div class="position-relative">
    <div class="hellceiling">
        <img src="../../img/misc/hellceiling.png">
        <img src="../../img/misc/hellceiling.png">
        <img src="../../img/misc/hellceiling.png">
        <img src="../../img/misc/hellceiling.png">
        <img src="../../img/misc/hellceiling.png">
        <img src="../../img/misc/hellceiling.png">
        <img src="../../img/misc/hellceiling.png">
    </div>
</div>

<div class="row mb-3" *ngIf="tournament">
    <div class="col-12">
        <cwt-scheduler></cwt-scheduler>
    </div>
</div>

<div class="mt-4">
    <cwt-chat></cwt-chat>
</div>
