<div class="row text-right">
    <div class="col-12">
        <cwt-apply-banner [userId]="authenticatedUser.id" *ngIf="authenticatedUser"></cwt-apply-banner>
    </div>
</div>

<a routerLink="/apply">
    Apply
</a>
<a routerLink="/register">
    Register
</a>
<a routerLink="/admin">
    Admin
</a>
<hr>
<br>

<div class="row" *ngFor="let x of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
    <div class="col-md-6">
        Hello, World! {{x}}.1
    </div>
    <div class="col-md-6">
        Hello, World! {{x}}.2
    </div>
    <div class="col-md-6">
        Hello, World! {{x}}.3
    </div>
    <div class="col-md-6">
        Hello, World! {{x}}.4
    </div>
    <div class="col-md-6">
        Hello, World! {{x}}.5
    </div>
    <div class="col-md-6">
        Hello, World! {{x}}.6
    </div>
</div>
