<div class="row no-gutters align-items-stretch align-content-center" *ngIf="schedules">
    <div class="col-12 col-lg-6 pb-1" [ngClass]="{'pr-lg-1': even}" style="min-height: 3.2rem" *ngFor="let schedule of schedules; let even = even;">
        <div class="bg-secondary text-white rounded h-100 text-center">
            <div class="d-flex justify-content-center h-100 align-items-center">
                <button type="button" class="btn btn-danger btn-sm  position-absolute" style="left: .5rem"
                        (click)="deleteSchedule(schedule)" *ngIf="authUser && (schedule.homeUser.id === authUser.id || schedule.awayUser.id === authUser.id)">
                    <i class="fa fa-trash"></i>
                </button>
                <div>
                    <b><cwt-user [username]="schedule.homeUser.username"></cwt-user></b>&nbsp;vs.&nbsp;<b><cwt-user [username]="schedule.awayUser.username"></cwt-user></b>
                    <br class="d-sm-none">
                    on&nbsp;<b>{{schedule.appointment | cwtDate:'MMM d, HH:ss'}}</b>
                </div>
                <div class="btn btn-sm rounded-circle position-absolute bg-success text-center text-white" ngbTooltip="List channels here." placement="top" style="right: .5rem"> <!--*ngIf="schedule.streams.length"-->
                    <i class="fa fa-twitch"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6 pb-1" style="min-height: 3.2rem" [ngClass]="{'pr-lg-1': schedules.length % 2 === 0}" *ngIf="remainingOpponents?.length">
        <div class="bg-secondary rounded h-100 p-2">
            <form class="form-inline justify-content-center h-100 align-items-center" (ngSubmit)="submit(scheduleForm.valid)" #scheduleForm="ngForm">
                <label class="sr-only" for="yourOpponent">Your opponent</label>
                <select class="form-control form-control-sm mr-1" id="yourOpponent" name="yourOpponent" required
                        [(ngModel)]="newSchedule.opponent" #opponent="ngModel">
                    <option disabled selected [value]="null" *ngIf="remainingOpponents?.length > 1">
                        Your opponent
                    </option>
                    <option *ngFor="let opponent of remainingOpponents;" [value]="opponent.id">
                        {{opponent.username}}
                    </option>
                </select>

                <label class="sr-only" for="appointment">Date and time of appointment</label>
                <input type="text" id="appointment" name="appointment" required
                       placeholder="YYYY-MM-DD HH:mm" class="form-control form-control-sm mr-1"
                       [(ngModel)]="newSchedule.appointment" #appointment="ngModel" cwtDateTimeInput [cwtDateTimeInputAfter]="minAppointmentDateTime">

                <input type="submit" class="btn btn-sm btn-primary mt-1 mt-sm-0" value="Submit"
                       [disabled]="opponent.errors?.required || appointment.errors?.required">
            </form>
        </div>
    </div>
</div>
