<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<title>tetris</title>-->

    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="../libraries/p5.js"></script>
    <script src="../libraries/p5.dom.js"></script>
    <script src="../libraries/p5.sound.js"></script>-->

    <!--<script src="../grid/cell.js"></script>
    <script src="../grid/grid.js"></script>
    <script src="../services/cell-utils.js"></script>

    <script src="../figures/figure.js"></script>
    <script src="../figures/square-figure.js"></script>
    <script src="../figures/t-figure.js"></script>
    <script src="../figures/i-figure.js"></script>
    <script src="../figures/l-figure.js"></script>
    <script src="../figures/j-figure.js"></script>
    <script src="../figures/s-figure.js"></script>
    <script src="../figures/z-figure.js"></script>
    <script src="../level.js"></script>-->
    <script src="../sketch.js"></script>

    <link rel="stylesheet" href="../styles/style.css"/>
</head>
<body>
<p>
    hallo
</p>

<!--<div class="table">

</div>

<div id="gameOver">
    <div id="highscore">
    </div>
    <p id="gameOverText"></p>
</div>-->

</body>
</html>