<div class="row" *ngIf="authUser && !hideInput">
    <div class="col pr-0 overflow-hidden">
        <chatInput (message)="submit($event[0], $event[1])"></chatInput>
    </div>
    <div class="col-auto pl-1">
        <div class="" ngbDropdown>
            <button type="button" class="btn px-1 btn-danger btn-lg no-caret" ngbDropdownToggle>
                <i class="fa fa-filter"></i>
            </button>
            <div ngbDropdownMenu class="text-right">
                <button [class.active]="filter === null" class="dropdown-item" type="button" (click)="filterBy(null)">
                    Off
                </button>
                <div class="dropdown-divider"></div>
                <button [class.active]="filter === 'NEWS'" class="dropdown-item" type="button"
                        (click)="filterBy('NEWS')">News
                </button>
                <button [class.active]="filter === 'PRIVATE'" class="dropdown-item" type="button"
                        (click)="filterBy('PRIVATE')">Private
                </button>
                <button [class.active]="filter === 'SHOUTBOX'" class="dropdown-item" type="button"
                        (click)="filterBy('SHOUTBOX')">Shoutbox
                </button>
            </div>
        </div>
    </div>
</div>

<div class="card bg-primary text-white border-0 mt-1">
    <div *ngFor="let message of messages; let first = first; let last = last" class="p-1"
         style="border-bottom: 1px solid black !important;"
         [ngClass]="{'rounded-top': first, 'bg-danger': message.category === 'PRIVATE', 'bg-secondary': message.category === 'NEWS'}"
         ngPreserveWhitespaces>
        <button class="btn btn-dark btn-sm" *ngIf="admin" type="button" (click)="deleteMessage(message)">
            <i class="fa fa-trash"></i>
        </button>
        <span class="font-variant-numeric-tabular-nums"
              [ngbTooltip]="message.created | cwtDate">{{message.created | cwtDate:'time'}}</span>
        <cwt-user *ngIf="message.author && message.newsType !== 'TWITCH_MESSAGE'" [username]="message.author?.username"
                  class="text-white font-weight-bold"></cwt-user>

        <ng-container *ngIf="message.category === 'NEWS'">
            <ng-container *ngIf="message.body.split(','); let messageData">
                <ng-container [ngSwitch]="message.newsType">
                    <ng-container *ngSwitchCase="'REPORT'">reported</ng-container>
                    <ng-container *ngSwitchCase="'RATING'">{{messageData[5]}}d</ng-container>
                    <ng-container *ngSwitchCase="'COMMENT'">commented</ng-container>
                    <ng-container *ngSwitchCase="'VOIDED'">voided</ng-container>
                    <ng-container *ngSwitchCase="'STREAM'">live streamed</ng-container>
                </ng-container>
                <ng-container *ngIf="message.newsType === 'REPORT' || message.newsType === 'RATING' || message.newsType === 'COMMENT' || message.newsType === 'VOIDED'">
                    <cwt-user [username]="messageData[1]" class="font-weight-bold"></cwt-user>
                    <a [routerLink]="['/games', messageData[0]]" class="font-weight-bold">{{messageData[3]}}–{{messageData[4]}}</a>
                    <cwt-user [username]="messageData[2]" class="font-weight-bold"></cwt-user>
                </ng-container>
                <ng-container *ngIf="message.newsType === 'STREAM'">
                    <a target="_blank" class="font-weight-bold"
                       [href]="'https://www.twitch.tv/videos/' + messageData[0]">
                       “<span *ngFor="let d of messageData; let firstd = first">{{firstd ? '' : d}}</span>”&nbsp;<i class="fa fa-twitch text-success"></i>
                    </a>
                </ng-container>
                <ng-container *ngIf="message.newsType === 'TWITCH_MESSAGE'">
                    <a target="_blank" class="font-weight-bold"
                       [href]="'https://www.twitch.tv/' + messageData[1]">
                        <strong>{{messageData[0]}}</strong>&nbsp;<span class="font-weight-normal">via&nbsp;Twitch:</span>
                        “<span *ngFor="let d of messageData; let indexd = index">{{indexd >= 2 ? d : ''}}</span>”&nbsp;<i class="fa fa-twitch text-success"></i>
                    </a>
                </ng-container>
            </ng-container>
        </ng-container>

        <ng-container *ngIf="message.category !== 'NEWS'">
            <span [innerHTML]="message.body | cwtConvertLinks:['text-light']"></span>
        </ng-container>
    </div>
    <button type="button" class="btn btn-sm btn-primary" (click)="fetchPastMessages(this.filter)">
        …
    </button>
</div>

