<div *ngIf="message" class="chat-container">
    <form (submit)="submit()">
        <div class="input-group">
            <input type="text" name="chat-input" class="single-line form-control"
                   #chatInput [disabled]="disabled"
                   (keydown)="onKeydown($event)"
                   (keyup)="onKeyup($event)"
                   (input)="onInput($event)">
            <span class="input-group-append">
                <button class="btn btn-primary submit" type="button" [disabled]="disabled">
                    <i class="fa fa-send"></i>
                </button>
            </span>
        </div>
    </form>
    <div #offsets class="offsets">
        <div *ngFor="let tag of tags"
             #recipients
             class="offset"
             [ngStyle]="tag.style"
             [attr.data-id]="tag.user.id"
             [attr.data-username]="tag.user.username">
        </div>
    </div>
    <div #dummy class="dummy d-inline"></div>
    <div class="dropdown-menu suggestions p-0 overflow-hidden"
         #dropdown [class.show]="suggestions">
        <small class="form-text text-muted mx-1" *ngIf="!suggestions?.length">No such user.</small>
        <button *ngFor="let sugg of suggestions; let first = first;"
                #suggestions
                class="dropdown-item px-2" [class.active]="first"
                type="button" [value]="sugg.id" (click)="complete(sugg, true)">
            {{ sugg.username }}
        </button>
    </div>
</div>

