<div *ngIf="message" class="input-group input-group-lg chat-input">
    <div class="single-line form-control" [contentEditable]="!submitting"
         (copy)="onCopy($event)" (cut)="onCut($event)" (paste)="onPaste($event)"
         (keydown.enter)="$event.preventDefault();" (keyup.enter)="sendMessage()" (keyup.control.enter)="sendMessage()"
         (keydown)="keyDown($event)" #chatInput [ngClass]="{'contenteditable-disabled': submitting}">
    </div>
  <span class="input-group-append">
        <button class="btn btn-primary submit" type="button" (click)="sendMessage()">
            <i *ngIf="!submitting" class="fa fa-send"></i>
            <img *ngIf="submitting" src="/loading.gif" class="loading"/>
        </button>
  </span>
</div>
